<!--suppress CheckEmptyScriptTag -->
<template>
  <label :class="{disabled:disabled}" title="Zum ersten Ereignis eines Tages">
    <span :class="{disabled:disabled}" class="btn btn-primary"><IconChooseDate/></span>
    <input :disabled="disabled" type="date" v-model="innerDate">
  </label>
</template>

<script>

  import moment from 'moment'
  import IconChooseDate from "../../../atoms/IconChooseDate";

  export default {
    components: {IconChooseDate},
    props: {
      disabled: {
        required: false,
        type: Boolean,
        value: false
      }
    },
    data() {
      return {
        innerDate: moment().format('YYYY-MM-DD')
      }
    },
    watch: {
      innerDate(date) {
        this.$emit('change-date', moment(date));
      }
    }
  }
</script>

<style scoped>

  /*noinspection CssInvalidPseudoSelector*/
  label input[type=date]::-webkit-datetime-edit-day-field,
  label input[type=date]::-webkit-datetime-edit-month-field,
  label input[type=date]::-webkit-datetime-edit-year-field,
  label input[type=date]::-webkit-datetime-edit-hour-field,
  label input[type=date]::-webkit-datetime-edit-minute-field,
  label input[type=date]::-webkit-datetime-edit-fields-wrapper,
  label input[type=date]::-webkit-datetime-edit-text,
  label input[type=date]::-webkit-datetime-edit,
  label input[type=date]::-webkit-inner-spin-button,
  label input[type=date]::-webkit-datetime-value,
  label input[type=date]::-webkit-clear-button,
  label input[type=date]:-webkit-autofill,
  label input[type=date]::-webkit-textfield-decoration-container {
    display: none;
  }

  label input[type=date] {
    border-width: 0;
  }

  label {
    margin: -2px 0 0 0;
    padding: 0;
    cursor: pointer !important;
  }

  .btn {
    border-radius: 0;
    margin-right: -4px;
  }

  label:not(.disabled):hover .btn {
    background: #0069d9;
  }

  label.disabled .btn {
    opacity: 0.65;
  }

  label.disabled * {
    cursor: not-allowed !important;
  }

  label input[type=date]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: transparent;
    cursor: pointer;
    margin: 0 0 0 -46px;
    width: 34px;
    height: 35px;
    border: none;
    border-radius: 0;
    position: absolute;
  }

  svg {
    fill: white;
    width: 20px;
    height: 20px;
  }

</style>
