<template>
  <div id="app">
    <Messagebox/>
    <Navbar :view="view" :title="title" @click-toggle="sidebar.show = !sidebar.show" @search="value => search = value"/>
    <div id="wrapper">
      <Sidebar v-if="sidebar.show" :view="view" @click-nav-item="changeView"/>
      <Content :sidebar-on="sidebar.show" :view="view" :search="search"/>
    </div>
  </div>
</template>

<script>

  import Navbar from './templates/Navbar'
  import Sidebar from './templates/Sidebar'
  import Content from './templates/Content'
  import Messagebox from './templates/Messagebox'
  import CONFIG from './config'

  export default {
    components: {
      Navbar, Sidebar, Content, Messagebox
    },
    data() {
      return {
        sidebar: {
          show: true
        },
        search: '',
        view: localStorage.getItem('view') || 'home'
      }
    },
    watch: {
      view: function (newValue) {
        localStorage.setItem('view', newValue);
      },
    },
    computed: {
      title() {
        return CONFIG.PROJECT_NAME
      }
    },
    methods: {
      changeView(view) {
        this.view = view;
      }
    }
  }

</script>

<style lang="scss">

  @import "@/scss/_variables.scss";

  * {
    font-family: 'Baloo Chettan 2', sans-serif;
    margin: 0;
    padding: 0;
  }

  .info-col {
    background: $color-background-c;
    padding: 1em;
    margin-top: -1em;
    padding-bottom: 10em;
    overflow-y: auto;
    position: fixed !important;
    width: 370px !important;
    z-index: 1000;
    height: 100%;
  }

  .info-col ~ div {
    margin-left: 380px;
  }

  #wrapper {
    position: fixed;
    left: 0;
    top: 55px;
  }

  textarea, textarea:focus,
  input, input:focus,
  button, button:focus {
    outline: none !important;
  }

  .info-col h2 {
    font-family: $font-headline;
    font-size: 2em !important;
  }

  .info-col h3, .info-col h4 {
    font-family: $font-headline;
    font-size: 1.5em !important;
  }

  .table-striped tbody tr:nth-of-type(odd){
    background-color: $color-background-c !important;
  }

</style>
