<template>

  <div class="form-group">
    <label :for="uuid">{{label}}</label>
    <div class="input-group">
      <button :class="{on: option === dynCurrent, 'symbol-text':symbolText}"
              :key="i"
              v-for="(option, i) in options"
              @click="submitChange(option)">
        <span>{{displayFunction(option)}}</span>
      </button>
    </div>
  </div>

</template>

<script>

  import {v1 as uuid} from 'uuid'

  export default {
    props: {
      label: {
        required: true,
        type: String
      },
      symbolText: {
        required: false,
        type: Boolean,
        value: false
      },
      buttonLabel: {
        required: false,
        type: String,
        default: 'OK'
      },
      current: {
        required: true
      },
      options: {
        required: true,
        type: Array
      },
      displayFunction: {
        required: false,
        type: Function,
        default: v => v
      }
    },
    data() {
      return {
        dynCurrent: null,
        uuid: uuid()
      }
    },
    watch: {
      current: function (newValue) {
        this.dynCurrent = newValue;
      }
    },
    created() {
      if (this.options.indexOf(this.current) < 0) throw `${this.current} is not part of options`;
      this.dynCurrent = this.current;
    },
    methods: {
      submitChange(option) {
        if (this.dynCurrent !== option) {
          this.dynCurrent = option;
          if (!this.avoidSubmit) this.$emit('change', this.dynCurrent);
        }
      }
    }
  }

</script>

<style scoped>

  button {
    padding: 2px 7px;
    margin-right: 5px;
    background: lightpink;
    color: darkred;
    border-style: outset;
  }

  button.symbol-text span {
    opacity: .3;
  }

  button.symbol-text:hover span,
  button.on.symbol-text span {
    opacity: 1;
  }

  button.on {
    background: lightgreen;
    color: darkgreen;
    border-style: inset;
  }

</style>
