<template>

  <div class="form-group" :class="{valid:isValid}">
    <label :for="uuid">{{label}}</label>
    <div class="input-group">
      <div class="input-group-prepend" v-if="prependText">
        <div class="input-group-text">{{prependText}}</div>
      </div>
      <input @keyup.enter="submitChange"
             :id="uuid"
             type="text"
             :class="{'is-valid':showIsValid, 'is-invalid':showIsInvalid}"
             class="form-control"
             v-model="dyntext"
             required
             :pattern="requiredPattern">
      <div class="input-group-append">
        <button :disabled="avoidSubmit" class="btn btn-primary btn-sm" @click="submitChange">{{buttonLabel}}</button>
      </div>

      <div class="invalid-feedback" v-if="showIsInvalid">
        {{invalidFeedback}}
      </div>
    </div>
  </div>

</template>

<script>

  import {v1 as uuid} from 'uuid'

  export default {
    props: {
      label: {
        required: true,
        type: String
      },
      prependText: {
        required: false,
        type: String,
        value: ''
      },
      text: {
        required: true,
        type: String
      },
      autoclear: {
        required: false,
        value: false,
        type: Boolean
      },
      buttonLabel: {
        required: false,
        type: String,
        default: 'OK'
      },
      invalidFeedback: {
        required: false,
        type: String,
        default: 'OK'
      },
      requiredPattern: {
        required: false,
        type: String,
        default: '.*'
      }
    },
    data() {
      return {
        dyntext: '',
        uuid: uuid()
      }
    },
    created() {
      this.dyntext = this.text;
    },
    watch: {
      text: function (newValue) {
        this.dyntext = (newValue || '').trim()
      }
    },
    computed: {
      isValid() {
        return !this.dyntext.trim() || this.dyntext.trim().match(this.requiredPattern);
      },
      showIsValid() {
        return this.isValid && this.inputMade;
      },
      showIsInvalid() {
        return !this.isValid && this.inputMade;
      },
      inputMade() {
        return this.dyntext.trim() !== this.text;
      },
      avoidSubmit() {
        if(!this.inputMade) return true;
        if(!this.dyntext.trim()) return false;
        else return !this.isValid;
      }
    },
    methods: {
      submitChange() {
        if (!this.avoidSubmit) this.$emit('change', this.dyntext.trim());
        if(this.autoclear) this.dyntext = '';
      }
    }
  }

</script>

<style scoped>

  button:disabled {
    cursor: default;
  }

</style>
