<template>

  <div class="form-group">
    <label :for="uuid">{{label}}</label>
    <div class="input-group">
      <textarea :id="uuid" class="form-control" v-model="dyntext"></textarea>
      <div class="input-group-append">
        <button :disabled="disableButton" class="btn btn-primary btn-sm" @click="emitChange">{{buttonLabel}}</button>
      </div>
    </div>
  </div>

</template>

<script>

  import { v1 as uuid } from 'uuid'

  export default {
    props: {
      label: {
        required: true,
        type: String
      },
      text: {
        required: false,
        type: String,
        value: ''
      },
      buttonLabel: {
        required: false,
        type: String,
        default: 'OK'
      }
    },
    data() {
      return {
        dyntext: '',
        uuid: uuid()
      }
    },
    created() {
      this.dyntext = this.text || '';
    },
    watch: {
      text: function(newValue) {
        this.dyntext = (newValue || '').trim()
      }
    },
    computed: {
      inputMade() {
        return this.dyntext.trim() !== (this.text || '').trim();
      },
      disableButton() {
        return !this.inputMade;
      }
    },
    methods: {
      emitChange() {
        return this.$emit('change', this.dyntext.trim());
      }
    }
  }

</script>

<style scoped>

  button:disabled {
    cursor: default;
  }

</style>
