<template>

  <div class="form-group">
    <label :for="uuid">{{label}}</label>
    <div class="input-group" :class="{dark: dark}">
      <input :id="uuid"
             type="color"
             class="form-control"
             v-model="dyncolor"
             @change="emitChange"
             required>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <path d="M302.189 329.126H196.105l55.831 135.993c3.889 9.428-.555 19.999-9.444 23.999l-49.165 21.427c-9.165 4-19.443-.571-23.332-9.714l-53.053-129.136-86.664 89.138C18.729 472.71 0 463.554 0 447.977V18.299C0 1.899 19.921-6.096 30.277 5.443l284.412 292.542c11.472 11.179 3.007 31.141-12.5 31.141z"/>
      </svg>
    </div>
  </div>

</template>

<script>

  import {v1 as uuid} from 'uuid'
  import Color from 'color';

  export default {
    props: {
      label: {
        required: true,
        type: String
      },
      color: {
        required: true,
        type: String
      }
    },
    data() {
      return {
        dyncolor: '',
        uuid: uuid(),
        dark: false
      }
    },
    created() {
      const lightness = Color(this.color).lightness();
      this.dark = lightness < 50;
      this.dyncolor = this.color;
    },
    watch: {
      color: function (newValue) {
        const lightness = Color(this.color).lightness();
        this.dark = lightness < 50;
        this.dyncolor = newValue;
      }
    },
    methods: {
      emitChange: function () {
        this.$emit('change', this.dyncolor);
      }
    }
  }

</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  input[type="color"] {
    border: none;
    width: 32px;
    height: 32px;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }

  svg {
    fill: $color-text-main;
    width: 15px;
    height: 15px;
    margin-left: -18px;
    margin-top: 11px;
    z-index: 100;
  }

  .dark svg {
    fill: white;
  }

</style>
