<template>

  <div class="form-group">
    <label :for="uuid">{{label}}</label>
    <div class="input-group">
      <button :class="{on: wrappedOption.on, off: !wrappedOption.on}"
              :disabled="disableInput"
              :key="i"
              v-for="(wrappedOption, i) in wrappedOptions"
              @click="e => submitChange(e, wrappedOption)">
        {{displayFunction(wrappedOption.option)}}
      </button>
    </div>
  </div>

</template>

<script>

  import {v1 as uuid} from 'uuid'

  export default {
    props: {
      label: {
        required: true,
        type: String
      },
      currents: {
        required: true,
        type: Array
      },
      options: {
        required: true,
        type: Array
      },
      displayFunction: {
        required: false,
        type: Function,
        default: v => v
      }
    },
    data() {
      return {
        dynCurrents: [],
        uuid: uuid(),
        disableInput: false
      }
    },
    watch: {
      currents: function (newValue) {
        this.disableInput = false;
        this.dynCurrents = newValue;
      }
    },
    created() {
      if (this.currents.some(current => this.options.indexOf(current) < 0)) throw `Not all ${this.currents} are part of options`;
      this.dynCurrents = this.currents;
    },
    computed: {
      wrappedOptions() {
        return this.options.map(o => {
            return {
              on: this.currents.indexOf(o) >= 0,
              option: o
            }
          }
        );
      }
    },
    methods: {
      submitChange(e, wrappedOption) {
        this.disableInput = true;
        if (wrappedOption.on) this.$emit('toggle-off', wrappedOption.option);
        else this.$emit('toggle-on', wrappedOption.option);
      }
    }
  }

</script>

<style scoped>

  button {
    padding: 2px 7px;
    margin-right: 5px;
  }

  button.on {
    background: lightgreen;
    color: darkgreen;
    border-style: inset;
  }

  button.off {
    background: lightpink;
    color: darkred;
    border-style: outset;
  }

  button:disabled {
    opacity: .4;
  }

</style>
