<template>
  <ul>
    <li class="logentry" :key="i" v-for="(event, i) in eventsSorted">
      <EventLog :event="event"></EventLog>
    </li>
  </ul>
</template>

<script>

  import EventLog from './EventLog'

  export default {
    components: {
      EventLog
    },
    props: {
      events: {
        required: true
      },
      sortNewestFirst: {
        required: false,
        type: Boolean
      }
    },
    computed: {
      eventsSorted: function () {
        if (this.sortNewestFirst) {
          return this.events.concat().sort((e1, e2) => e1.occuredBefore(e2) ? 1 : -1);
        } else {
          return this.events;
        }
      }
    }
  }
</script>

<style scoped>
  ul {
    list-style-type: none;
    overflow: hidden;
  }

  .logentry {
    margin: 10px 0 0 0;
  }
</style>
