<template>
  <span>
    <span class="header">{{event.dateAndTimePretty}}:</span><br>
    {{event.prettySummary}}
  </span>
</template>

<script>

  import BoardEvent from "../../model/events/BoardEvent";

  export default {
    props: {
      event: {
        required: true,
        type: BoardEvent
      }
    }
  }
</script>

<style scoped>
  .header {
    font-weight: bold;
  }
</style>
