<template>
  <div>
    <button :disabled="!dynActivate" :class="{'btn-danger':dynActivate,'btn-default':!dynActivate}" class="btn" @click="emitDelete">{{label}}</button>&nbsp;
    <OnOffSlide v-model="dynActivate"/>
  </div>
</template>

<script>

  import OnOffSlide from '../atoms/OnOffSlide'

  export default {
    components: {
      OnOffSlide
    },
    props: {
      activate: {
        required: false,
        type: Boolean
      },
      label: {
        required: true,
        type: String
      }
    },
    data() {
      return {
        dynActivate: false
      }
    },
    created() {
      this.dynActivate = !!this.activate;
    },
    methods: {
      emitDelete() {
        this.dynActivate = !!this.activate;
        this.$emit('click');
      }
    }
  }
</script>

<style scoped>

  div {
    margin: 0;
    padding: 0;
  }

  button:disabled {
    cursor: default;
  }
</style>