<template>

  <div class="form-group">
    <label :for="uuid">{{label}}</label>
    <div class="input-group">
      <div class="input-group-prepend" v-if="prependText">
        <div class="input-group-text">{{prependText}}</div>
      </div>
      <textarea :id="uuid"
                ref="textinput"
                class="form-control"
                :value="value"
                v-focus="focus"
                @keypress.enter="$emit('submit')"
                @input="update()">
      </textarea>
    </div>
  </div>

</template>

<script>

  import {v1 as uuid} from 'uuid'

  export default {
    props: {
      label: {
        required: true,
        type: String
      },
      focus: {
        required: false,
        type: Boolean
      },
      prependText: {
        required: false,
        type: String,
        value: ''
      },
      value: {
        required: false,
        type: String
      }
    },
    data() {
      return {
        uuid: uuid()
      }
    },
    methods: {
      update() {
        let newValue = this.$refs.textinput.value.trim();
        newValue = newValue.replace(/ +/g, ' ');
        this.$emit('input', newValue);
      }
    }
  }

</script>

<style scoped>

  button:disabled {
    cursor: default;
  }

</style>
