<template>

  <div class="form-group">
    <label :for="uuid">{{label}}</label>
    <div class="input-group">
      <div class="input-group-prepend" v-if="prependText">
        <div class="input-group-text">{{prependText}}</div>
      </div>
      <input :id="uuid"
             ref="date"
             type="date"
             class="form-control"
             :value="workingDate"
             v-focus="focus"
             @keypress.enter="$emit('submit')"
             @change="update()">
    </div>
  </div>

</template>

<script>

  import {v1 as uuid} from 'uuid';
  import moment from 'moment';

  export default {
    props: {
      label: {
        required: true,
        type: String
      },
      focus: {
        required: false,
        type: Boolean
      },
      prependText: {
        required: false,
        type: String,
        value: ''
      },
      value: {
        required: false,
        type: Object
      }
    },
    created() {
      this.workingDate = this.value ? moment(this.value).format('YYYY-MM-DD') : null;
    },
    data() {
      return {
        uuid: uuid(),
        workingDate: null
      }
    },
    watch: {
      workingDate() {
        this.update();
      }
    },
    methods: {
      update() {
        const DATE = this.$refs.date.value;
        if (DATE.match(/[1-9][0-9][0-9][0-9]-[0-1][0-9]-[0-3][0-9]/)) {
          this.$emit('input', moment(DATE));
        }
      }
    }
  }

</script>

<style scoped>

  button:disabled {
    cursor: default;
  }

</style>
