<template>

  <div @mouseenter="$emit('mouseenter')" @mouseleave="$emit('mouseleave')" :style="styleConfigured" @click="$emit('click')" :class="{active: story.active}">
    <p class="label">{{story.label}}</p>
    <p class="branch-link" v-if="story.branch && settings.showCardElementBranch">
      <BranchCopyToClipboard :branch="story.branch"/>
    </p>
    <p>
      <span class="points" v-if="story.points !== null">{{story.points}}</span>
    </p>
  </div>

</template>

<script>

  import Story from '../../model/board/Story'
  import BranchCopyToClipboard from "../atoms/BranchCopyToClipboard";
  import SETTINGS from "../../model/Settings";

  export default {
    components: {BranchCopyToClipboard},
    props: {
      story: {
        required: true,
        type: Story
      }
    },
    data() {
      return {
        settings: SETTINGS
      }
    },
    computed: {
      styleConfigured() {
        const backgroundColor = this.story.backgroundColor;
        const textColor = this.story.textColor;
        return {
          color: textColor,
          background: backgroundColor,
        };
      }
    }
  }

</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  div, div * {
    font-family: 'Bellota';
  }

  div {
    text-align: center;
    padding: .5em;
    font-size: 1.7em;
    width: 100%;
    min-width: 400px;
    /*border: 1px solid gray;*/
    border-radius: 0;
    box-shadow: 2px 2px 5px lightslategray;
  }

  span {
    margin: 0;
  }

  span.points {
    background: rgba(255, 255, 255, .3);
    border-top: 1px solid $color-text-main;
    border-left: 1px solid $color-text-main;
    padding: 2px 5px;
    font-size: .8em;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  .branch-link {
    position: absolute;
    left: .1em;
    bottom: 0;
    margin: 0;
    padding: 0;
    margin-bottom: -.2em;
  }

  .branch-link button {
    background: transparent;
    border: none;
  }

</style>
