<template>

  <div @mouseenter="$emit('mouseenter')" @mouseleave="$emit('mouseleave')" :style="styleConfigured" :class="{top: true, active: task.active, orphan: markAsOrphan, 'fix-size': fixSize}" @click="$emit('click')">
    <p class="overlayed" v-if="task.locked">
      <LockText class="overlay" :text="task.lockText"/>
    </p>
    <p>{{task.label}}</p>
    <p class="card-elements" v-if="settings.showSomeCardElementDetails && (task.assignees.length || task.ticketNumber && settings.showCardElementTicket || task.branch && settings.showCardElementBranch || settings.showCardElementEffort || settings.showCardElementPrio)">
      <BranchCopyToClipboard class="branch-link" :branch="task.branch" v-if="task.branch && settings.showCardElementBranch"/>
      <CardEffort class="card-effort" :task="task" v-if="settings.showCardElementEffort"/>
      <CardPrio class="card-prio" :task="task" v-if="showPrio"/>
      <TicketLink :number="task.ticketNumber" v-if="task.ticketNumber && settings.showCardElementTicket"/>
      <span class="assignees" v-if="settings.showCardElementAssignees && task.assignees.length">
        <img width="25" height="25" :key="assignee.name" v-for="assignee in task.assignees" :title="assignee.name" :src="assignee.base64ImgSrc">
      </span>
    </p>
  </div>

</template>

<script>

  import Task from '../../model/board/Task'
  import LockText from "../atoms/LockText"
  import TicketLink from "../atoms/TicketLink"
  import CardEffort from "../atoms/CardEffort"
  import CardPrio from "../atoms/CardPrio"
  import SETTINGS from "../../model/Settings";
  import BranchCopyToClipboard from "../atoms/BranchCopyToClipboard";

  export default {
    components: {
      BranchCopyToClipboard,
      LockText, TicketLink, CardEffort, CardPrio
    },
    props: {
      task: {
        required: true,
        type: Task
      },
      markAsOrphan: {
        required: false,
        type: Boolean
      },
      fixSize: {
        required: false,
        type: Boolean,
        value: false
      }
    },
    data() {
      return {
        settings: SETTINGS
      }
    },
    computed: {
      styleConfigured() {
        const backgroundColor = this.task.backgroundColor;
        const textColor = this.task.textColor;
        return {
          color: textColor,
          background: `${backgroundColor}`,
        };
      },
      showPrio() {
        if(!this.settings.showCardElementPrio) return false;
        if(!this.settings.showCardElementPrioHighOnly) return true;
        else return this.task.isHighPrio;
      }
    }
  }

</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  div:not(.overlay):not(.overlayed) {
    text-align: left;
    padding: .1em .3em;
    line-height: 1.1em;
    display: inline-block;
    margin: 0 .3em .3em 0;
    font-family: "Cutive Mono";
    font-size: 1.4em;
    border-radius: 0;
  }

  div.fix-size {
    width: 250px;
    height: 100px;
    overflow: hidden;
  }

  div:not(.overlay):not(.overlayed):not(.active) {
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    box-shadow: 2px 2px 5px lightslategray;
  }

  span.assignees {
    border: 1px solid $color-text-main;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 0;
  }

  span.assignees img {
    margin-top: -3px !important;
  }

  span.card-effort,
  a.ticket-number,
  a.ticket-number:hover {
    color: $color-text-main;
    background: white;
    border: 1px solid $color-text-main;
    font-size: .6em;
    padding: 0 5px;
    border-radius: 5px;
    white-space: nowrap;
  }

  .overlayed {
    position: absolute;
    background: rgba(0, 0, 0, .5);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid $color-text-main;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0.5+68,0+100 */
    background: -moz-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.5) 68%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.5) 68%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.5) 68%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=1); /* IE6-9 fallback on horizontal gradient */
  }

  div.top {
    /* workaround for #17 */
    overflow: hidden;
  }

  div.top:hover .overlay,
  div.top:hover .overlayed {
    display: none;
  }

  .overlay {
    background: transparent;
    border: none;
    position: absolute;
    font-size: .8em;
    z-index: 5;
    width: 100%;
    text-align: left;
    left: 5px;
  }

  div.orphan {
    border-left: 5px solid red !important;
  }

  p {
    margin: 0;
  }

  p.card-elements {
    text-align: right;
  }

  p.card-elements > * {
    margin-left: .2em;
    display: inline-block;
    height: 25px !important;
    float: left;
  }

</style>
