<!--suppress CheckEmptyScriptTag -->
<template>

    <div>
      <p class="picture"><img :src="teammember.base64ImgSrc"></p>
      <p class="name">{{teammember.name}}</p>
    </div>

</template>

<script>

  import Teammember from "../../model/Teammember";

  export default {
    props: {
      teammember: {
        required: true,
        type: Teammember
      }
    }
  }

</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  img, .name, .picture {
    width: 150px;
    margin: 0;
  }

  img {
    border: 1px solid $color-text-main;
  }

  .name {
    border-top: 0 solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    background: white;
    text-align: center;
  }

</style>
