<template>
  <div>
    <h2 v-if="headline">{{headline}}</h2>
    <table>
      <thead>
      <tr>
        <th>Offen</th>
        <th>In Bearbeitung</th>
        <th>Abgeschlossen</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <draggable class="list-group" tag="ul" v-model="itemsTodo" v-bind="dragOptions" @change="emitChange">
            <transition-group type="transition" :name="'flip-list'" tag="ul">
              <li class="list-group-item" v-for="(item, i) in itemsTodo" :key="i" @click="$emit('click-on-card', item)">
                <slot :item="item"></slot>
              </li>
            </transition-group>
          </draggable>
        </td>
        <td>
          <draggable class="list-group" tag="ul" v-model="itemsDoing" v-bind="dragOptions" @change="emitChange">
            <slot></slot>
            <transition-group type="transition" :name="'flip-list'" tag="ul">
              <li class="list-group-item" v-for="(item, i) in itemsDoing" :key="i" @click="$emit('click-on-card', item)">
                <slot :item="item"></slot>
              </li>
            </transition-group>
          </draggable>
        </td>
        <td>
          <draggable class="list-group" tag="ul" v-model="itemsDone" v-bind="dragOptions" @change="emitChange">
            <slot></slot>
            <transition-group type="transition" :name="'flip-list'" tag="ul">
              <li class="list-group-item" v-for="(item, i) in itemsDone" :key="i" @click="$emit('click-on-card', item)">
                <slot :item="item"></slot>
              </li>
            </transition-group>
          </draggable>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import draggable from "vuedraggable";

  export default {
    components: {draggable},
    props: {
      headline: {
        required: false,
        type: String
      },
      items: {
        required: true,
        type: Array
      }
    },
    data() {
      return {
        itemsTodo: [],
        itemsDoing: [],
        itemsDone: [],
        changeTimeout: null
      }
    },
    methods: {
      findItemsWithPosition(position) {
        return this.items.filter(i => i.positionOnBoard === position);
      },
      emitChange() {
        if (this.changeTimeout) {
          window.clearTimeout(this.changeTimeout);
          this.changeTimeout = null;
        }
        this.itemsTodo.forEach(item => item.positionOnBoard = 0);
        this.itemsDoing.forEach(item => item.positionOnBoard = 1);
        this.itemsDone.forEach(item => item.positionOnBoard = 2);
        const me = this;
        const items = [...this.itemsTodo, ...this.itemsDoing, ...this.itemsDone];
        this.changeTimeout = window.setTimeout(() => {
          me.$emit('change', items);
          me.changeTimeout = null;
        }, 1000);
      }
    },
    created() {
      this.itemsTodo = this.findItemsWithPosition(0);
      this.itemsDoing = this.findItemsWithPosition(1);
      this.itemsDone = this.findItemsWithPosition(2);
    },
    computed: {
      dragOptions() {
        return {
          animation: 0,
          group: "description",
          disabled: false,
          ghostClass: "ghost"
        };
      }
    },
    watch: {
      items: {
        handler(items) {
          this.itemsTodo = [];
          this.itemsDoing = [];
          this.itemsDone = [];
          items
            .forEach(newItem => {
              if (!newItem.positionOnBoard)
                this.itemsTodo.push(newItem);
              else if (newItem.positionOnBoard === 1)
                this.itemsDoing.push(newItem);
              else if (newItem.positionOnBoard === 2)
                this.itemsDone.push(newItem);
            });
          this.emitChange();
        },
        deep: true
      }
    }
  }
</script>

<style scoped>

  th {
    white-space: nowrap;
  }

  td {
    vertical-align: top;
  }

  .list-group-item.ghost {
    opacity: 0.5;
    background: #c8ebfb !important;
  }

  .flip-list-move {
    transition: transform 0.5s;
  }

  li {
    padding: .5em;
    cursor: move;
  }
</style>