<template>
  <div>
    <span v-if="labelPrefix">{{labelPrefix}} </span>{{sliderLabel}}<br>
    <input type="range" min="0" :max="events.length - 1" v-model="slider" @change="emitChange" @input="updateLabel"/>
  </div>
</template>

<script>
  import BoardEvent from '../../model/events/BoardEvent'

  export default {
    props: {
      events: {
        required: true,
        type: Array
      },
      shownEvent: {
        required: true,
        type: BoardEvent
      },
      settings: {
        required: true,
      },
      labelPrefix: {
        required: false,
        type: String
      }
    },
    data() {
      return {
        slider: 0,
        sliderLabel: ''
      }
    },
    created() {
      this.slider = this.events.indexOf(this.shownEvent);
      this.sliderLabel = this.shownEvent.dateAndTimePretty;
    },
    watch: {
      shownEvent(e) {
        this.slider = this.events.indexOf(e);
        this.sliderLabel = this.shownEvent.dateAndTimePretty;
      }
    },
    methods: {
      emitChange() {
        this.$emit('change', this.events[this.slider]);
      },
      updateLabel(event) {
        if (this.settings.historieTimelineUpdateOnSlide) {
          this.$emit('change', this.events[this.slider]);
        }
        this.sliderLabel = this.events[event.target.value].dateAndTimePretty;
      }
    }
  };
</script>

<style scoped>

  input[type=range] {
    width: 100%;
    -webkit-appearance: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 4px;
    background: #007bff;
    border: none;
    border-radius: 0;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    margin-top: -10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    cursor: w-resize;
    border-top: 10px solid #000;
  }

</style>