<template>
  <input :disabled="disabled" type="search" id="global-search" placeholder="Suche auf angezeigtem Board" v-model="search"/>
</template>

<script>

  export default {
    data() {
      return {
        search: ''
      }
    },
    props: {
      disabled: Boolean
    },
    watch: {
      search(search) {
        this.$emit('search', search);
      }
    }
  }
</script>

<style scoped>

  input {
    padding: 2px 10px;
    width: 300px;
  }

  input:disabled {
    display: none;
  }
</style>