<!--suppress CheckEmptyScriptTag -->
<template>

  <div>

    <h2>»{{story.label}}«</h2>
    <div class="description" v-if="story.description">{{story.description}}</div>

    <div v-if="story.branch">
      <p class="subhead">Branchname</p>
      <p>
        <BranchLink :branch="story.branch"/>
      </p>
    </div>

    <div v-if="story.points">
      <p class="subhead">Storypoints</p>
      <p>{{story.points}}</p>
    </div>

  </div>

</template>

<script>

  import Story from "../../model/board/Story";
  import BranchLink from "../atoms/BranchLink";

  export default {
    components: {BranchLink},
    props: {
      story: {
        required: true,
        type: Story
      }
    }
  }

</script>

<style scoped>

  .description {
    margin-bottom: 1em;
  }

  .subhead {
    font-weight: bold;
    margin: .2em 0 0 0;
  }

</style>
