<!--suppress CheckEmptyScriptTag -->
<template>

  <div>

    <h2>»{{task.label}}«</h2>
    <div class="description" v-if="task.description">{{task.description}}</div>

    <div v-if="task.lockText">
      <p class="subhead">Sperre</p>
      <p>{{task.lockText}}</p>
    </div>

    <p class="subhead">Zugewiesen</p>
    <TeammemberMeme class="assignee" :teammember="assignee" :key="assignee.name" v-for="assignee in task.assignees"/>
    <p v-if="!task.assignees.length">niemandem</p>

    <p class="subhead">Aufwand</p>
    <p>{{task.pretty.effort}}</p>

    <p class="subhead">Priorität</p>
    <p>{{task.pretty.prioLong}}</p>

    <div v-if="task.branch">
      <p class="subhead">Branchname</p>
      <p>
        <BranchLink :branch="task.branch"/>
      </p>
    </div>

    <div v-if="task.ticketNumber">
      <p class="subhead">Ticket</p>
      <p>
        <TicketLink :number="task.ticketNumber"/>
      </p>
    </div>

  </div>

</template>

<script>

  import TeammemberMeme from '../molecules/TeammemberMeme'
  import TicketLink from '../atoms/TicketLink'
  import Task from "../../model/board/Task";
  import BranchLink from "../atoms/BranchLink";

  export default {
    components: {
      BranchLink,
      TeammemberMeme, TicketLink
    },
    props: {
      task: {
        required: true,
        type: Task
      }
    }
  }

</script>

<style scoped>

  .assignee {
    margin-right: .5em;
    margin-bottom: .5em;
    display: inline-block;
  }

  .description {
    margin-bottom: 1em;
  }

  .subhead {
    font-weight: bold;
    margin: .2em 0 0 0;
  }

</style>
