<template>
  <p>
    {{impediment.title}}<br>
    <span class="person"><IconTeam/>{{impediment.person || '?'}}</span>
  </p>
</template>

<script>
  import Impediment from "../../../../model/Impediment";
  import IconTeam from "../../../atoms/IconTeam";

  export default {
    components: {IconTeam},
    props: {
      impediment: {
        required: true,
        type: Impediment
      }
    }
  }

</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  p {
    margin: 0;
  }

  span {
    background: white;
    border: 1px solid $color-text-main;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: .8em;
    color: $color-text-main;
    margin: 0 5px 0 0;
    white-space: nowrap;
  }

  span svg {
    height: 1em;
    width: 1em;
    fill: $color-text-main;
    margin-right: .5em;
  }
</style>