<template>

  <div class="info-col">
    <h2>Neues Impediment anlegen</h2>
    <SimpleShortText label="Titel"
                     v-model="currentImpediment.title"
                     @submit="emitNewImpediment"
                     v-focus/>
    <SimpleShortText label="Wer?"
                     v-model="currentImpediment.person"/>
    <LockableButton v-if="impediment" label="Löschen" @click="emitDeleteImpediment"/>
    <button v-else class="btn btn-primary" :disabled="!currentImpediment.title.length" @click="emitNewImpediment">Hinzufügen</button>
  </div>

</template>

<script>

  import SimpleShortText from '../../../molecules/SimpleShortText';
  import Impediment from "../../../../model/Impediment";
  import LockableButton from '../../../molecules/LockableButton'

  export default {
    props: {
      impediment: {
        required: false,
        type: Impediment
      }
    },
    components: {
      SimpleShortText, LockableButton
    },
    methods: {
      emitNewImpediment() {
        if (!this.currentImpediment.title.length) return;
        this.$emit('new-impediment', this.currentImpediment);
        this.currentImpediment = Impediment.createEmpty();
      },
      emitDeleteImpediment() {
        this.$emit('delete-impediment', this.currentImpediment);
      },
    },
    data() {
      return {
        currentImpediment: Impediment.createEmpty()
      }
    },
    watch: {
      impediment(newImpediment) {
        this.currentImpediment = newImpediment ? newImpediment : Impediment.createEmpty();
      }
    },
  }

</script>

<style scoped>

</style>