<template>

  <table :class="{'talking-mode':storyToTalkAbout, 'unclickable':!clickable}">

    <thead>
    <tr>
      <th class="story-col">Story</th>
      <th :key="stateOfTask.key" v-for="stateOfTask in board.statesOfTask">{{stateOfTask.name}}</th>
    </tr>
    </thead>

    <tbody>
    <tr :id="`line-${story.instanceId}`" :key="story.instanceId" v-for="story in stories" :class="{'entire-story': story === storyToTalkAbout && !taskToTalkAbout}">
      <td class="story-col">
        <StoryCard class="card"
                   :story="story"
                   :class="{current: story === storyToTalkAbout}"
                   @click="setStoryToTalkAbout(story)"/>
      </td>
      <td class="task-col" :key="stateOfTask.name" v-for="stateOfTask in board.statesOfTask">
        <TaskCardWithProgress :mark-as-orphan="isInvalidOrphan(task)"
                              :fix-size="settings.showCardInSameSizes"
                              :id="`card-${task.instanceId}`"
                              :possible-states-of-task="board.statesOfTask"
                              class="card"
                              :player="player"
                              :class="{current: task === taskToTalkAbout}"
                              :key="task.instanceId"
                              v-for="task in calcShownTasks(story, stateOfTask)"
                              :task="task"
                              @click="setTaskToTalkAbout(task)"/>
      </td>
    </tr>
    </tbody>

  </table>

</template>

<script>

  import StoryCard from '../../../molecules/StoryCard';
  import TaskCardWithProgress from './TaskCardWithProgress';
  import Board from '../../../../model/board/Board';
  import Task from "../../../../model/board/Task";
  import Story from "../../../../model/board/Story";
  import VueScrollTo from 'vue-scrollto';
  import EventPlayer from "../../helpers/EventPlayer";

  export default {
    components: {
      StoryCard,
      TaskCardWithProgress
    },
    props: {
      board: {
        required: true,
        type: Board
      },
      currentTask: {
        required: false,
        type: Task
      },
      clickable: {
        required: false,
        type: Boolean,
        default: true
      },
      player: {
        required: true,
        type: EventPlayer
      },
      currentStory: {
        required: false,
        type: Story
      },
      settings: {
        required: true,
      },
      stories: {
        required: true
      },
      search: {
        required: true,
        type: String
      }
    },
    methods: {
      setStoryToTalkAbout(story) {
        if (this.clickable) {
          this.$emit('story-clicked', story);
          this.storyToTalkAbout = story;
          this.taskToTalkAbout = null;
        }
      },
      setTaskToTalkAbout(task) {
        if (this.clickable) {
          this.$emit('task-clicked', task);
          this.storyToTalkAbout = task.story;
          this.taskToTalkAbout = task;
        }
      },
      calcShownTasks(story, stateOfTask) {
        return story.getTasksWithState(stateOfTask)
          .filter(task => task === this.taskToTalkAbout || task.matchesSearch(this.search));
      },
      isInvalidOrphan(task) {
        if (this.settings.markOrphanTasks) {
          return !task.assignees.length && !task.hasState(this.board.firstStateOfTask) && !task.hasState(this.board.lastStateOfTask);
        } else {
          return false;
        }
      }
    },
    data() {
      return {
        storyToTalkAbout: null,
        taskToTalkAbout: null
      }
    },
    created() {
      this.storyToTalkAbout = this.currentStory;
      this.taskToTalkAbout = this.currentTask;
    },
    watch: {
      currentTask(task) {
        this.taskToTalkAbout = task;
      },
      currentStory(story) {
        this.storyToTalkAbout = story;
      },
      taskToTalkAbout(task) {
        if (task) {
          let options = {container: '#content-wrapper', easing: 'ease-in', offset: -200, x: true};
          VueScrollTo.scrollTo('#card-' + task.instanceId, 700, options);
        }
      },
      storyToTalkAbout(story) {
        if (story && !this.taskToTalkAbout) {
          let options = {container: '#content-wrapper', easing: 'ease-in', offset: -200, x: false, onDone: () => document.getElementById('content-wrapper').scrollTo({left: 0, behavior: "smooth"})};
          VueScrollTo.scrollTo('#line-' + story.instanceId, 700, options);
        }
      }
    }
  }
</script>

<style scoped>

  thead th {
    content:'';
    position: sticky;
    background: white;
    top: 0;
    z-index: 100;
    outline: 1px solid black;
    outline-offset: -1px;
  }

  table.talking-mode tr:not(.entire-story) .card:not(.current):not(:hover) {
    opacity: .3;
  }

  table.unclickable * {
    cursor: default !important;
  }
</style>