<template>

  <div class="container-fluid">
    <div id="daily-board-viewonly-fixed-hint" v-if="isViewableOnly" class="alert alert-info">
      Zur Zeit läuft das Daily. Daher können Sie Karten erst nach dem Daily ab ca. {{dailyEndTimePretty}} anklicken.
    </div>
    <div class="row">
      <InfoAreaStory :story="currentStory"
                     :board="board"
                     :player="player"
                     @task-clicked="task => showTaskInfo(task)"
                     v-if="currentStory && !currentTask"
                     class="info-col"/>
      <InfoAreaTask :task="currentTask"
                    :player="player"
                    v-if="currentTask"
                    class="info-col"/>
      <div>
        <BoardArea :board="board"
                   :settings="settings"
                   :player="player"
                   :stories="stories"
                   :clickable="!isViewableOnly"
                   :search="search"
                   :current-task="currentTask"
                   :current-story="currentStory"
                   @story-clicked="showStoryInfo"
                   @task-clicked="showTaskInfo"/>
      </div>
    </div>
  </div>

</template>

<script>

  import InfoAreaStory from './InfoAreaStory';
  import InfoAreaTask from './InfoAreaTask';
  import BoardArea from './BoardArea';
  import Board from "../../../../model/board/Board";
  import DailyItem from "../../../../model/DailyItem";
  import SyncItemGateway from "../../../../dataaccess/SyncItemGateway";
  import EventPlayer from "../../helpers/EventPlayer";
  import AUTHORIZATION_SERVICE from './../../../helpers/AuthorizationService'
  import DailyService from "../helpers/DailyService";

  const DAILY_SERVICE = new DailyService();
  const SYNC_GATEWAY = new SyncItemGateway();

  export default {
    components: {
      InfoAreaStory,
      InfoAreaTask,
      BoardArea
    },
    props: {
      board: {
        required: true,
        type: Board
      },
      player: {
        required: true,
        type: EventPlayer
      },
      daily: {
        required: true,
        type: DailyItem
      },
      settings: {
        required: true,
      },
      stories: {
        required: true
      },
      search: {
        required: true,
        type: String
      }
    },
    created() {
      if (!this.stories.length) throw 'Empty board not allowed here! Do handle empty boards in Parent.';
      this.sync(this.daily);
    },
    computed: {
      isViewableOnly() {
        return !AUTHORIZATION_SERVICE.isAuthToSendDailyClick && DAILY_SERVICE.isDailyRunning;
      },
      dailyEndTimePretty() {
        return DAILY_SERVICE.dailyEndTimePretty;
      }
    },
    methods: {
      showStoryInfo(story) {
        if (!this.isViewableOnly) {
          this.currentStory = story;
          this.currentTask = null;
          SYNC_GATEWAY.postDailyInstanceId(new DailyItem(story.instanceId));
        }
      },
      showTaskInfo(task) {
        if (!this.isViewableOnly) {
          this.currentTask = task;
          SYNC_GATEWAY.postDailyInstanceId(new DailyItem(task.instanceId));
        }
      },
      sync(daily) {
        if (daily) {
          const storiesWithInstanceId = this.stories.filter(story => story.instanceId === daily.currentInstanceId);
          if (storiesWithInstanceId.length) {
            this.currentTask = null;
            this.currentStory = storiesWithInstanceId[0];
          } else {
            const tasksWithInstanceId = this.stories.map(s => s.tasks).flat(1).filter(task => task.instanceId === daily.currentInstanceId);
            if (tasksWithInstanceId.length) {
              this.currentTask = tasksWithInstanceId[0];
              this.currentStory = this.currentTask.story;
            } else {
              this.currentTask = null;
              this.currentStory = null;
            }

          }
        }
      }
    },
    data() {
      return {
        currentTask: null,
        currentStory: null
      }
    },
    watch: {
      daily: {
        handler(daily) {
          this.sync(daily);
        },
        deep: true
      }
    }
  }

</script>

<style>

  #daily-board-viewonly-fixed-hint {
    position: fixed;
    z-index: 1000;
    left: 700px;
  }
</style>