<template>

  <div>
    <h2>{{task.label}}</h2>
    <p v-if="task.description">{{task.description}}</p>
    <p class="subhead" v-if="task.assignees.length">Zugewiesen</p>
    <TeammemberMeme class="assignee" :teammember="assignee" :key="assignee.name" v-for="assignee in task.assignees"/>
    <p class="subhead">Bewegungen</p>
    <TaskMoves :task="task" :player="player"/>
    <p v-if="task.branch" class="subhead">Branch</p>
    <p v-if="task.branch">{{task.branch}}</p>
    <p class="subhead">Prio</p>
    <p>{{task.pretty.prioLong}}</p>
    <p class="subhead">Aufwand</p>
    <p>{{task.pretty.effort}}</p>
  </div>

</template>

<script>

  import Task from "../../../../model/board/Task";
  import TeammemberMeme from "../../../molecules/TeammemberMeme"
  import EventPlayer from "../../helpers/EventPlayer";
  import TaskMoves from "./TaskMoves"

  export default {
    components: {TeammemberMeme, TaskMoves},
    props: {
      task: {
        required: true,
        type: Task
      },
      player: {
        required: true,
        type: EventPlayer
      }
    }
  }
</script>

<style>
  .subhead {
    margin-bottom: 0.2em;
    font-weight: bold;
  }

  .assignee {
    margin-right: .5em;
    margin-bottom: .5em;
    display: inline-block;
  }
</style>