<template>

  <div>
    <h2>{{story.label}}</h2>
    <p v-if="story.description">{{story.description}}</p>
    <p class="subhead">Fortschritt</p>
    <p>
      <StoryCompletedBar :states="board.statesOfTask" :tasks="story.tasks"/>
    </p>
    <SummaryOfLastMovedTasks :player="player" :tasks="story.tasks" @task-clicked="task => $emit('task-clicked', task)"/>
    <p v-if="story.branch" class="subhead">Branch</p>
    <p v-if="story.branch">{{story.branch}}</p>
  </div>

</template>

<script>

  import Story from "../../../../model/board/Story";
  import StoryCompletedBar from './../../molecules/StoryCompletedBar'
  import Board from "../../../../model/board/Board";
  import EventPlayer from "../../helpers/EventPlayer";
  import SummaryOfLastMovedTasks from "./SummaryOfLastMovedTasks";

  export default {
    components: {StoryCompletedBar, SummaryOfLastMovedTasks},
    props: {
      story: {
        required: true,
        type: Story
      },
      player: {
        required: true,
        type: EventPlayer
      },
      board: {
        required: true,
        type: Board
      }
    }
  }
</script>

<style scoped>
  .subhead {
    margin-bottom: 0.2em;
    font-weight: bold;
    font-size: 1em;
  }
</style>