<template>

  <div>
    <h5>Bewegt seit {{lastWorkingDayPretty}}</h5>
    <ul v-if="tasksMoved.length">
      <li v-for="task in tasksMoved" :key="task.instanceId" @click="$emit('task-clicked', task)">
        <button class="btn btn-primary btn-sm"><IconDaily/></button>
        {{task.label}}
      </li>
    </ul>
    <p v-else>nix</p>
  </div>

</template>

<script>
  import EventPlayer from "../../helpers/EventPlayer";
  import IconDaily from "./../../../atoms/IconDaily";
  import DailyService from "../helpers/DailyService";

  export default {
    components: {IconDaily},
    props: {
      tasks: {
        required: true
      },
      player: {
        required: true,
        type: EventPlayer
      }
    },
    computed: {
      lastWorkingDayPretty() {
        return this.lastWorkingDay.format('dddd[,] D.M.YYYY HH:mm [Uhr]');
      },
      lastWorkingDay() {
        return new DailyService().searchEndOfLastDaily();
      },
      tasksMoved() {
        const events = this.player
          .searchEventsConcerningTasks(this.tasks)
          .filter(event => event.isATaskMove)
          .filter(event => event.occuredAfter(this.lastWorkingDay))
          .sort((e1, e2) => e1.occuredBefore(e2) ? 1 : -1);
        return this.tasks.filter(task => events.some(event => event.concernsTask(task)));
      }
    }
  }
</script>

<style scoped>
  ul {
    list-style-type: none;
    list-style-position: inside;
  }
  button.btn {
    padding: 2px;
    margin-right: 4px;
  }

  h5 {
    margin-bottom: 0.2em;
    font-weight: bold;
    font-size: 1em;
  }
  svg {
    height: 15px;
    fill: white;
  }
</style>