<template>

  <ul>
    <li :key="item.key" v-for="item in historyItems">
      {{item.state}}: {{item.dateFromNow}}
    </li>
  </ul>

</template>

<script>
  import Task from "../../../../model/board/Task";
  import EventPlayer from "../../helpers/EventPlayer";
  import moment from 'moment';

  export default {
    props: {
      task: {
        required: true,
        type: Task
      },
      player: {
        required: true,
        type: EventPlayer
      }
    },
    computed: {
      historyItems() {
        return this.player
          .searchEventsConcerningTask(this.task)
          .filter(event => event.isATaskMove)
          .sort((e1, e2) => e1.occuredBefore(e2) ? 1 : -1)
          .map(event => {
            const historyItem = {};
            historyItem.key = event.instanceId;
            historyItem.dateFromNow = moment(event.date).fromNow();
            if (event.type.key === 'TASK_CREATED') historyItem.state = 'Erstellt';
            else if (event.type.key === 'TASK_TO_STORY') historyItem.state = 'Auf andere Story';
            else historyItem.state = event.subject.properties.attribute.value.name;
            return historyItem;
          });
      }
    }
  }
</script>

<style>
  ul {
    list-style-type: none;
  }
</style>