<template>
  <div class="wrapper">
    <div class="svg-wrapper" v-if="progressNumber" :class="{'point-right': progressNumber < 0,'point-left': progressNumber > 0}">
      <IconProgress :number="progressNumber"
                    class="progress-icon"
                    color-negative-number="rgb(200,0,0)"
                    color-positive-number="rgb(0,150,0)"/>
    </div>
    <TaskCard :mark-as-orphan="markAsOrphan"
              :fix-size="fixSize"
              :task="task"
              @click="$emit('click', task)"/>
  </div>
</template>

<script>

  import TaskCard from '../../../molecules/TaskCard';
  import Task from "../../../../model/board/Task";
  import IconProgress from '../../../atoms/IconProgress'
  import EventPlayer from "../../helpers/EventPlayer";
  import DailyService from "../helpers/DailyService";

  export default {
    props: {
      task: {
        required: true,
        type: Task
      },
      markAsOrphan: {
        required: false,
        type: Boolean
      },
      player: {
        required: true,
        type: EventPlayer
      },
      possibleStatesOfTask: {
        required: true,
        type: Array
      },
      fixSize: {
        required: false,
        type: Boolean,
        value: false
      }
    },
    components: {
      TaskCard, IconProgress
    },
    computed: {
      progressNumber() {

        const LWD = new DailyService().searchEndOfLastDaily();

        // newest event at position 0!
        const events = this.player
          .searchEventsConcerningTask(this.task)
          .filter(event => event.isATaskMove)
          .sort((e1, e2) => e1.occuredBefore(e2) ? -1 : 1);

        if (events.some(event => event.occuredAfter(LWD))) {
          if (events.length === 1) { // 1 event for a task after LWD
            if (events[0].type.key === 'TASK_CREATED') return 1;
            else return 0; // a row change! => not a move that should be shown in daily
          }

          const eventsBeforeOldestEventInTimeRange = events
            .filter(event => event.occuredBefore(LWD))
            .sort((e1, e2) => e1.occuredAfter(e2) ? -1 : 1);

          let oldPosition = -1; // position means: "not on board"
          if(eventsBeforeOldestEventInTimeRange.length) { // events already before LWD occured
            const eventBeforeOldestEventInTimeRange = eventsBeforeOldestEventInTimeRange[0];
            oldPosition = this.player.findTaskAtEvent(eventBeforeOldestEventInTimeRange, this.task.instanceId).state.calcPositionIn(this.possibleStatesOfTask);
          }

          const newPosition = this.task.state.calcPositionIn(this.possibleStatesOfTask);
          return newPosition - oldPosition;
        } else {
          return 0;
        }
      }
    }
  }
</script>

<style>

  div.wrapper {
    border: none !important;
  }

  div.wrapper svg {
    width: 50px !important;
    display: inline-block;
    z-index: 100;
  }

  div.wrapper svg.point-right {
    margin-right: -20px;
    z-index: 100;
  }

  div.wrapper svg.point-left {
    margin-left: -30px;
    z-index: 100;
  }

  div.svg-wrapper {
    margin-bottom: -12px;
    z-index: 100;
  }

  div.svg-wrapper.point-right {
    text-align: right;
  }
</style>