<template>
  <div class="container-fluid">

    <div class="row info-col" v-if="isAuthToWorkOnBoard">
      <WorkOnElementArea :element="currentElement" @change="isSaveEnabled = true"/>
    </div>

    <div class="row">
      <div class="container-fluid">
        <div class="row" v-if="isAuthToWorkOnBoard">
          <button class="btn btn-lg" :class="{'btn-light':!isSaveEnabled,'btn-primary':isSaveEnabled}" @click="saveEverything" :disabled="!isSaveEnabled">Speichern</button>
        </div>

        <div class="row">
          <div class="col-3 list" id="source-list">
            <h3>Coming Up</h3>
            <draggable class="list-group draggable"
                       tag="ul"
                       v-model="sourceList"
                       v-bind="dragOptions"
                       v-if="isAuthToWorkOnBoard"
                       @change="isSaveEnabled = true">
              <transition-group type="transition" :name="'flip-list'" tag="ul">
                <ComingUpCard class="list-group-item" v-for="element in sourceList" :key="element.order" @click="currentElement = element" :element="element"/>
              </transition-group>

              <div class="input-group" slot="footer">
                <input type="text" @keyup.enter="addNewName" placeholder="Neues Item" v-model="newName" class="form-control" required/>
                <div class="input-group-append">
                  <button :disabled="!newName" @click="addNewName" class="btn btn-primary btn-sm">hinzufügen</button>
                </div>
              </div>
            </draggable>
            <ul v-else class="list-group">
              <ComingUpCard class="list-group-item" v-for="element in sourceList" :key="element.order" :element="element"/>
            </ul>
          </div>
        </div>

        <div class="row" id="target-lists" v-if="isAuthToWorkOnBoard">
          <div class="col col-2 list target-list" :key="list2.key" v-for="list2 in targetLists">
            <h3>{{list2.label}}</h3>
            <draggable element="span" v-model="list2.list" v-bind="dragOptions">
              <transition-group name="no" class="list-group" tag="ul">
                <ComingUpCard class="list-group-item" v-for="element in list2.list" :key="element.order" @click="currentElement = element" :element="element"/>
              </transition-group>
            </draggable>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
  import draggable from "vuedraggable";
  import ComingupGateway from '../../dataaccess/ComingupGateway'
  import StoryCreatedBuilder from "../../model/events/builder/StoryCreatedBuilder";
  import moment from 'moment';
  import EventsGateway from "../../dataaccess/EventsGateway";
  import EventPlayer from "./helpers/EventPlayer";
  import TaskCreatedBuilder from "../../model/events/builder/TaskCreatedBuilder";
  import AUTHORIZATION_SERVICE from '../helpers/AuthorizationService'
  import WorkOnElementArea from "./comingup/WorkOnElementArea";
  import ComingUpCard from "./comingup/ComingUpCard";
  import TaskChangedBuilder from "../../model/events/builder/TaskChangedBuilder";
  import Attribute from "../../model/board/Attribute";

  const EVENTS_GATEWAY = new EventsGateway();
  const COMINGUP_GATEWAY = new ComingupGateway();

  export default {
    props: {
      player: {
        required: true,
        type: EventPlayer
      }
    },
    components: {ComingUpCard, WorkOnElementArea, draggable},
    data() {
      return {newName: '', sourceList: [], targetLists: [], isSaveEnabled: false, currentElement: null};
    },
    created() {
      COMINGUP_GATEWAY.getAll(items => {
        items.sort((n1, n2) => n1.sortNumber < n2.sortNumber ? -1 : 1)
          .forEach((item, index) => this.sourceList.push({
              name: item.name,
              ticketNumber: item.ticketNumber,
              order: index + 1
            })
          );
        this.reinitTargetLists();
      });
    },
    methods: {
      reinitTargetLists() {
        this.targetLists = [];
        this.targetLists.push({key: 'delete', label: 'Müll', list: []});
        this.targetLists.push({key: 'newstory', label: 'Neue Story', list: []});
        this.player.goToLastEvent(true).forEach(story => this.targetLists.push({key: `story-${story.instanceId}`, instanceIdStory: story.instanceId, label: story.label, list: []}));
      },
      addNewName() {
        if (this.newName) this.sourceList.push({name: this.newName, order: this.sourceList.length + 1});
        this.newName = '';
        this.isSaveEnabled = true;
      },
      saveEverything() {
        const itemsInComingUp = this.sourceList.map(item => {
          return {
            name: item.name,
            ticketNumber: item.ticketNumber
          }
        });
        this.targetLists.filter(list => list.key === 'newstory')
          .map(targetList => targetList.list)
          .flat()
          .map(item => item.name)
          .map(label => new StoryCreatedBuilder().date(moment()).label(label).build())
          .forEach(event => EVENTS_GATEWAY.postEvent(event));
        this.targetLists.filter(list => list.key.startsWith('story-')).map(targetList => {
          targetList.list
            .forEach(item => {
              const event1 = new TaskCreatedBuilder()
                .date(moment())
                .instanceIdStory(targetList.instanceIdStory)
                .label(item.name)
                .build();
              EVENTS_GATEWAY.postEvent(event1, function (instanceIdTask) {
                if (item.ticketNumber && item.ticketNumber.trim()) {
                  window.setTimeout(function () {
                    const event2 = new TaskChangedBuilder()
                      .instanceIdTask(instanceIdTask)
                      .instanceIdStory(targetList.instanceIdStory)
                      .date(moment())
                      .attribute(new Attribute('ticketNumber', item.ticketNumber.trim()))
                      .build();
                    EVENTS_GATEWAY.postEvent(event2);
                  }, 2000);
                }
              });
            });
        });
        COMINGUP_GATEWAY.post(itemsInComingUp);
        this.isSaveEnabled = false;
        this.reinitTargetLists();
      }
    },
    computed: {
      dragOptions() {
        return {animation: 0, group: "description", disabled: false, ghostClass: "ghost"};
      },
      isAuthToWorkOnBoard() {
        return AUTHORIZATION_SERVICE.isAuthToWorkOnBoard
      }
    }
  };
</script>

<style lang="scss">

  @import "@/scss/_variables.scss";

  .flip-list-move {
    transition: transform 0.5s;
  }

  .no-move {
    transition: transform 0s;
  }

  .list-group-item.ghost {
    opacity: 0.5;
    background: #c8ebfb !important;
  }

  .list-group {
    min-height: 20px;
  }

  .draggable .list-group-item {
    cursor: move;
  }

  .list-group-item {
    background: $color-background-card !important;
    margin: .3em 0 0 0;
    box-shadow: .1em .1em .1em $color-text-main;
  }

  .list {
    padding: 1em;
    border: 1px solid $color-text-main;
  }

  .target-list {
    margin: 1em 1em 1em 0;
  }

  #target-lists {
    margin-top: 1em;
  }

  button:disabled {
    cursor: default;
  }

  p {
    margin: 0 !important;
  }

</style>