<template>

  <div>
    <DailyBoard :search="search" :player="player" :daily="daily" :board="board" :settings="settings" :stories="stories" v-if="stories.length"/>
    <DailyWhenEmpty v-else/>
  </div>

</template>

<script>

  import DailyBoard from './daily/organisms/DailyBoard';
  import DailyWhenEmpty from './daily/organisms/DailyWhenEmpty';
  import Board from "../../model/board/Board";
  import EventPlayer from "./helpers/EventPlayer";
  import Message from './../messagebox/helpers/Message'
  import GLOBAL_MESSAGE_CTRL from "./../messagebox/helpers/GlobalMessageCtrl";
  import DailyItem from "../../model/DailyItem";

  export default {
    components: {
      DailyBoard,
      DailyWhenEmpty
    },
    props: {
      board: {
        required: true,
        type: Board
      },
      daily: {
        required: true,
        type: DailyItem
      },
      settings: {
        required: true,
      },
      search: {
        required: true,
        type: String
      },
      player: {
        required: true,
        type: EventPlayer
      }
    },
    data() {
      return {
        stories: [],
      }
    },
    watch: {
      player: {
        handler() {
          this.stories = this.player.goToLastEvent();
          const summary = this.player.getLastEvent().prettySummary;
          const message = Message.createInfoShownTimeBased(`Board wurde aktualisiert: ${summary}`);
          GLOBAL_MESSAGE_CTRL.showMessage(message);
        },
        deep: true
      }
    },
    created() {
      this.stories = this.player.goToLastEvent(true);
    }
  }

</script>