<template>
  <div class="container-fluid">
    <h2>Ereignisse</h2>
    <EventLogs :events="events" sortNewestFirst/>
  </div>
</template>

<script>

  import EventLogs from '../molecules/EventLogs'

  export default {
    components: {
      EventLogs
    },
    props: {
      events: {
        required: true
      }
    }
  }
  
</script>

<style scoped>
  ul {
    list-style-position: inside;
  }
</style>
