<template>

  <div>
    <HistorieControl v-if="shownEvent"
                     id="historie-player-control"
                     :settings="settings"
                     :first-button-disabled="!hasPrevEvent"
                     @first-button-click="showFirstEvent"
                     :prev-button-disabled="!hasPrevEvent"
                     @prev-button-click="showPrevEvent"
                     :next-button-disabled="!hasNextEvent"
                     @next-button-click="showNextEvent"
                     :last-button-disabled="!hasNextEvent"
                     @last-button-click="showLastEvent"
                     @change-date="changeDate"/>

    <div class="container-fluid" v-if="shownEvent">

      <div class="row">
        <div class="info-col historie-infobox big-box">
          <StoryInfobox v-if="shownStory" :story="shownStory"/>
          <TaskInfobox v-if="shownTask" :task="shownTask"/>
          <EventInfobox v-if="!shownTask && !shownStory" :event="shownEvent" :summary="historieInfoboxSummary"/>
        </div>
        <div class="col">
          <div class="row">
            <EventSlider class="col"
                         :class="`col-${board.statesOfTask.length + 2}`"
                         :events="eventsForSlider"
                         :label-prefix="labelPrefixForSlider"
                         :shown-event="shownEvent"
                         v-if="settings.historieShowTimeline"
                         :settings="settings"
                         @change="setShownEvent"/>
          </div>
          <div class="row">
            <HistorieBoard :class="`col-${board.statesOfTask.length + 2}`"
                           :board="board"
                           :stories="stories"
                           :search="search"
                           :settings="settings"
                           @mouseleave-task="hideCurrentStateOfTask"
                           @mouseenter-task="showCurrentStateOfTask"
                           @mouseleave-story="hideCurrentStateOfStory"
                           @mouseenter-story="showCurrentStateOfStory"/>
            <EventLogs v-if="settings.historieShowEventLogs" class="col-1" :events="eventlogs" id="historie-view-eventslog"/>
          </div>
        </div>
      </div>

    </div>

    <div class="container-fluid" v-if="noStoredEventsYet">Das Board ist leer</div>
    <div class="container-fluid" v-if="!shownEvent && !noStoredEventsYet">Bitte warten ...</div>
  </div>
</template>

<script>

  import EventPlayer from './helpers/EventPlayer';
  import HistorieControl from './historie/organisms/HistorieControl';
  import EventSlider from '../organisms/EventSlider';
  import EventInfobox from './historie/organisms/EventInfobox';
  import HistorieBoard from './historie/organisms/HistorieBoard';
  import EventLogs from '../molecules/EventLogs';
  import Board from './../../model/board/Board';
  import ACTIVE_CARD_CHANGED_LISTENER from './historie/helpers/ActiveCardChangedListener';
  import EventInfoboxSummary from './historie/helpers/EventInfoboxSummary';
  import moment from 'moment';
  import GLOBAL_MESSAGE_CTRL from "./../messagebox/helpers/GlobalMessageCtrl";
  import Message from './../messagebox/helpers/Message'
  import TaskInfobox from "../organisms/TaskInfobox";
  import StoryInfobox from "../organisms/StoryInfobox";

  const EVENT_INFOBOX_SUMMARY = new EventInfoboxSummary();
  ACTIVE_CARD_CHANGED_LISTENER.register(taskOrStory => EVENT_INFOBOX_SUMMARY.onChange(taskOrStory));

  const navigationWithArrows = function (app) {
    // Höre den Pfeiltasten zu
    window.addEventListener('keydown', function (e) {
      if (e.key === 'Control') app.keyControlActive = true;
    });
    window.addEventListener('keyup', function (e) {
      if (e.key === 'ArrowRight') app.showNextEvent();
      else if (e.key === 'ArrowLeft') app.showPrevEvent();
      if (e.key === 'Control') app.keyControlActive = false;
    });
  };

  const setInitialShownEvent = function (app) {
    app.shownEvent = app.player.searchEventToShow();
    app.noStoredEventsYet = !app.shownEvent;
  };

  export default {
    components: {
      TaskInfobox, StoryInfobox, HistorieControl, EventInfobox, EventLogs, HistorieBoard, EventSlider
    },
    props: {
      events: {
        required: true,
        type: Array
      },
      board: {
        required: true,
        type: Board
      },
      settings: {
        required: true,
      },
      search: {
        required: true,
        type: String
      }
    },
    data() {
      return {
        stories: [],
        noStoredEventsYet: false,
        shownEvent: null,
        player: new EventPlayer(this.board),
        historieInfoboxSummary: EVENT_INFOBOX_SUMMARY.summary,
        eventlogs: [],
        shownStory: null,
        shownTask: null,
        keyControlActive: false
      }
    },
    created() {
      this.player.loadEvents(this.events);

      function getSortByStrategy(settings) {
        if (settings.seperateClicksBySwimlaneInHistorie) {
          if (settings.seperateClicksBySwimlaneAndTasksInHistorie) {
            return 'per-swim-lane-and-tasks'
          } else {
            return 'per-swim-lane'
          }
        } else return 'global';
      }

      this.player.sortByStrategy = getSortByStrategy(this.settings);
      setInitialShownEvent(this);
      navigationWithArrows(this);
    },
    computed: {
      hasPrevEvent() {
        return this.player.hasPrevEvent(this.shownEvent);
      },
      hasNextEvent() {
        return this.player.hasNextEvent(this.shownEvent);
      },
      eventsForSlider() {
        if (this.settings.seperateClicksBySwimlaneInHistorie) {
          return this.events.filter(e => e.concernsStory(this.shownEvent.instanceIdStory));
        } else {
          return this.events;
        }
      },
      labelPrefixForSlider() {
        if (this.settings.seperateClicksBySwimlaneInHistorie) {
          const storyLabel = this.events
            .filter(e => e.type.key === 'STORY_CREATED')
            .filter(e => e.concernsStory(this.shownEvent.instanceIdStory))[0]
            .subject.properties.label;
          return `Stand der Story »${storyLabel}« am`;
        } else {
          return "Stand des Boards am";
        }
      }
    },
    watch: {
      shownEvent: function (newEvent) {
        if (!newEvent) return false;
        this.stories = this.player.goToEvent(newEvent);
        localStorage.setItem('lastEventDate', moment(newEvent.date).format());
        this.eventlogs.unshift(this.shownEvent);
      },
      settings: {
        handler: function (newSettings) {
          this.player.sortByStrategy = newSettings.seperateClicksBySwimlaneInHistorie ? 'per-swim-lane' : 'global';
        },
        deep: true
      }
    },
    methods: {
      jumpToFirstOrCurrentStateOfCard: function () {
        return this.settings.seperateClicksBySwimlaneAndTasksInHistorie && this.keyControlActive;
      },
      showNextEvent: function () {
        if (this.shownEvent && this.hasNextEvent) {
          if (this.jumpToFirstOrCurrentStateOfCard()) {
            this.shownEvent = this.player.loadEventCurrentStateOfCard(this.shownEvent);
          } else {
            this.shownEvent = this.player.loadNextEvent(this.shownEvent);
          }
        }
      },
      showFirstEvent: function () {
        if (this.hasPrevEvent) {
          this.shownEvent = this.player.loadFirstEvent();
        }
      },
      showLastEvent: function () {
        if (this.shownEvent && this.hasNextEvent) {
          this.shownEvent = this.player.loadLastEvent(this.shownEvent);
        }
      },
      showPrevEvent: function () {
        if (this.shownEvent && this.hasPrevEvent) {
          if (this.jumpToFirstOrCurrentStateOfCard()) {
            this.shownEvent = this.player.loadEventFirstStateOfCard(this.shownEvent);
          } else {
            this.shownEvent = this.player.loadPrevEvent(this.shownEvent);
          }
        }
      },
      changeDate(date) {
        const foundEvent = this.player.loadFirstEventOn(date);
        const prettyDate = moment(date).format('dddd[, den ]D.M');
        if (foundEvent) {
          this.shownEvent = foundEvent;
        } else {
          const message = Message.createInfoShownTimeBased(`Am ${prettyDate} ist nichts passiert.`);
          GLOBAL_MESSAGE_CTRL.showMessage(message);
        }
      },
      hideCurrentStateOfTask() {
        this.shownTask = null;
      },
      showCurrentStateOfTask(task) {
        this.shownTask = task;
      },
      hideCurrentStateOfStory() {
        this.shownStory = null;
      },
      showCurrentStateOfStory(story) {
        this.shownStory = story;
      },
      setShownEvent(event) {
        this.shownEvent = event;
      }
    }
  }
</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  #historie-player-control {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
  }

  .historie-infobox {
    margin-right: 1em;
    border-right: 1px solid $color-text-main;
    padding-top: 1em;
    margin-top: -1em;
    background: $color-background-c;
    min-height: 1000px;
  }

  #historie-view-eventslog {
    color: $color-text-main;
    font-size: .8em;
    margin-left: 1em;
  }

</style>
