<template>
  <div class="container">

    <p>Dies ist ein Scrumboard, das im Gegensatz zu anderen Lösungen den Schwerpunkt nicht auf die Planung der Tasks, sondern auf die tägliche Arbeit von Software-Entwickler*Innen und auf die
      Durchführung des Dailys legt.
    </p>

    <p v-if="authorizationService.isAuthAsChickenOnly">
      Sie haben dabei einen lesenden Zugriff auf das Board und die Sprint-Ergebnisse.
    </p>

    <ul>
      <li><a href="#handbuch">Handbuch</a></li>
      <li><a href="#manifest">Manifest</a></li>
      <li><a href="#release-notes">Release Notes</a></li>
      <li><a href="#credits">Credits</a></li>
    </ul>

    <h2 id="handbuch">Handbuch</h2>
    <div v-if="authorizationService.isAuthToSee('working')">
      <h3>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--suppress CheckEmptyScriptTag -->
          <path d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"/>
        </svg>
        Bearbeitung
      </h3>
      <p>Hier können Stories und Tasks erstellt und bearbeitet werden.</p>
      <p>Klicke auf eine Karte, um die spezifischen Eingaben zu machen (Zugewiesene Teammitglieder, Spalte, Gewichtung, Storypunkte, Ticket-Nummer, Branchnamen etc.).</p>
    </div>

    <div v-if="authorizationService.isAuthToSee('daily')">
      <h3>
        <IconDaily/>
        Daily
      </h3>
      <p>Hier kann das Daily durchgeführt werden</p>
    </div>

    <div v-if="authorizationService.isAuthToSee('historie')">
      <h3>
        <IconHistorie/>
        Historie
      </h3>
      <h4>Navigation</h4>
      <p>
        Navigation durch die einzelnen Schritte erfolgt entweder über die Buttons unten rechts im Browser, mittels Zeitleiste über dem Board oder durch Tastenkürzel.
      </p>
      <h5>Buttons und Tastenkürzel</h5>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Button</th>
          <th>Funktion</th>
          <th>Tastenkürzel</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <IconFirstPosition/>
          </td>
          <td>Springe zum aller ersten Ereignis</td>
          <td>-</td>
        </tr>
        <tr>
          <td>
            <IconStepBack/>
          </td>
          <td>Springe zum vorherigen Ereignis<br>
            Wenn "Per Swimlane + Task" eingestellt ist:<br>
            Bei gedrückter [Strg]-Taste: Springe zum Erstellen der Karte<br>
          </td>
          <td>&larr;<br>Strg + &larr;</td>
        </tr>
        <tr>
          <td>
            <IconChooseDate/>
          </td>
          <td>Nur verfügbar, wenn in den Einstellungen nicht "Per Swimlane" ausgewählt wurde!<br>
            Springe zu einam Datum (exakt wie Zeitleiste)
          </td>
          <td>-</td>
        </tr>
        <tr>
          <td>
            <IconStepForward/>
          </td>
          <td>Springe zum nächsten Ereignis<br>
            Wenn "Per Swimlane + Task" eingestellt ist:<br>
            Bei gedrückter [Strg]-Taste: Springe zum letzten Ereignis der Karte<br>
          </td>
          <td>&rarr;<br>Strg + &rarr;</td>
        </tr>
        <tr>
          <td>
            <IconLastPosition/>
          </td>
          <td>Springe zum aktuellsten Stand</td>
          <td>-</td>
        </tr>
        </tbody>
      </table>
      <h5>Zeitleiste</h5>
      <p>Die Zeitleiste muss in den Einstellungen aktiviert werden.</p>
      <p>Dann lässt sich mittels Schieberegler der Stand des Boards einstellen. Das Board aktualisiert sich direkt beim Schieben oder erst beim Loslassen des Schiebereglers (Extra-Einstellungen).</p>
      <p>Die Zeitleiste bildet entweder die Ereignisse einer Story oder die das ganze Boards ab.</p>
      <h5>Was passiert da?</h5>
      <p>Alle Ereignisse am Board können schrittweise abgespielt werden.</p>
      <p>
        Es gibt unterschiedliche Arten, die Ereignisse durchzusehen. Entweder werden die Ereignisse chronologisch hintereinander dargestellt, unabhängig davon, welche Stories von der
        Änderung betroffen sind. Oder es werden die Ereignisse pro Story von oben nach unten gezeigt.<br>
        Hier wird dann noch unterschieden, ob die Ereignisse innerhalb der Story chronologisch oder pro Karte angezeigt wird.<br>
        Welche Variante genommen wird, kann in den Einstellungen festgelegt werden.
      </p>
      <h4>Infobereiche</h4>
      <p>Die Infobox zeigt Infos über das aktuelle Event, auf dem man sich gerade befindet.</p>
      <p>Geht man mit der Maus über eine Karte, werden Informationen zu dieser Karte und zu diesem Zeitpunkt angezeigt.</p>
      <p>Ein Protokoll zeigt an, welche Schritt man gegangen ist.</p>
    </div>

    <div v-if="authorizationService.isAuthToSee('comingup')">
      <h3>
        <IconComingUp/>
        Coming Up
      </h3>
      <p>Hier wird eine lose Liste mit Texteingabe verwaltet, die durch ziehen sortiert werden kann<br>
        Ferner können Karten in Container geschoben werden, um sie ans Board zu bringen oder wegzuwerfen.</p>
    </div>

    <div v-if="authorizationService.isAuthToSee('sprint')">
      <h3>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--suppress CheckEmptyScriptTag -->
          <path d="M496 384H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v336c0 17.67 14.33 32 32 32h464c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM464 96H345.94c-21.38 0-32.09 25.85-16.97 40.97l32.4 32.4L288 242.75l-73.37-73.37c-12.5-12.5-32.76-12.5-45.25 0l-68.69 68.69c-6.25 6.25-6.25 16.38 0 22.63l22.62 22.62c6.25 6.25 16.38 6.25 22.63 0L192 237.25l73.37 73.37c12.5 12.5 32.76 12.5 45.25 0l96-96 32.4 32.4c15.12 15.12 40.97 4.41 40.97-16.97V112c.01-8.84-7.15-16-15.99-16z"/>
        </svg>
        Sprint
      </h3>
      <p>Hier wird der aktuelle Fortschritt am Board mit Zahlen und Daten aufbereitet. Die Aufwände beziehen sich dabei auf die gewichteten Tasks. So hat ein Task in "XL" das Gewicht 5, ein Task in
        "XS"
        das Gewicht 1 usw.</p>
      <p>Die Vorhersage, wann eine Story fertig sein wird, betrachtet ausschließlich das Verhältnis der Stories in der letzten Spalte zu allen anderen und nimmt als Bezugspunkt das erste Verschieben
        eines Tasks in eine andere Spalte.</p>
    </div>

    <div v-if="authorizationService.isAuthToSee('members')">
      <h3>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
          <!--suppress CheckEmptyScriptTag -->
          <path d="M96 224c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm448 0c35.3 0 64-28.7 64-64s-28.7-64-64-64-64 28.7-64 64 28.7 64 64 64zm32 32h-64c-17.6 0-33.5 7.1-45.1 18.6 40.3 22.1 68.9 62 75.1 109.4h66c17.7 0 32-14.3 32-32v-32c0-35.3-28.7-64-64-64zm-256 0c61.9 0 112-50.1 112-112S381.9 32 320 32 208 82.1 208 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C179.6 288 128 339.6 128 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zm-223.7-13.4C161.5 263.1 145.6 256 128 256H64c-35.3 0-64 28.7-64 64v32c0 17.7 14.3 32 32 32h65.9c6.3-47.4 34.9-87.3 75.2-109.4z"/>
        </svg>
        Teammitglieder
      </h3>
      <p>Hier werden alle Teammitglieder mit ihren Avataren aufgeführt.</p>
      <p>Die Avatare lassen sich ändern (wenn man mit der Maus über das Bild fährt, wird ein Bearbeiten-Icon sichtbar).</p>
      <p>Hier lässt sich auch ein neues Teammitglied einfügen.</p>
    </div>

    <div v-if="authorizationService.isAuthToSee('eventoverview')">
      <h3>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <!--suppress CheckEmptyScriptTag -->
          <path d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zm-6 400H54a6 6 0 0 1-6-6V86a6 6 0 0 1 6-6h404a6 6 0 0 1 6 6v340a6 6 0 0 1-6 6zm-42-92v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm0-96v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm0-96v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm-252 12c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36zm0 96c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36zm0 96c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36z"/>
        </svg>
        Ereignisse
      </h3>
      <p>Zeigt eine Auflistung aller bekannten Ereignisse an.</p>
    </div>

    <div v-if="authorizationService.isAuthToSee('eventoverview')">
      <h3>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--suppress CheckEmptyScriptTag -->
          <path d="M512.1 191l-8.2 14.3c-3 5.3-9.4 7.5-15.1 5.4-11.8-4.4-22.6-10.7-32.1-18.6-4.6-3.8-5.8-10.5-2.8-15.7l8.2-14.3c-6.9-8-12.3-17.3-15.9-27.4h-16.5c-6 0-11.2-4.3-12.2-10.3-2-12-2.1-24.6 0-37.1 1-6 6.2-10.4 12.2-10.4h16.5c3.6-10.1 9-19.4 15.9-27.4l-8.2-14.3c-3-5.2-1.9-11.9 2.8-15.7 9.5-7.9 20.4-14.2 32.1-18.6 5.7-2.1 12.1.1 15.1 5.4l8.2 14.3c10.5-1.9 21.2-1.9 31.7 0L552 6.3c3-5.3 9.4-7.5 15.1-5.4 11.8 4.4 22.6 10.7 32.1 18.6 4.6 3.8 5.8 10.5 2.8 15.7l-8.2 14.3c6.9 8 12.3 17.3 15.9 27.4h16.5c6 0 11.2 4.3 12.2 10.3 2 12 2.1 24.6 0 37.1-1 6-6.2 10.4-12.2 10.4h-16.5c-3.6 10.1-9 19.4-15.9 27.4l8.2 14.3c3 5.2 1.9 11.9-2.8 15.7-9.5 7.9-20.4 14.2-32.1 18.6-5.7 2.1-12.1-.1-15.1-5.4l-8.2-14.3c-10.4 1.9-21.2 1.9-31.7 0zm-10.5-58.8c38.5 29.6 82.4-14.3 52.8-52.8-38.5-29.7-82.4 14.3-52.8 52.8zM386.3 286.1l33.7 16.8c10.1 5.8 14.5 18.1 10.5 29.1-8.9 24.2-26.4 46.4-42.6 65.8-7.4 8.9-20.2 11.1-30.3 5.3l-29.1-16.8c-16 13.7-34.6 24.6-54.9 31.7v33.6c0 11.6-8.3 21.6-19.7 23.6-24.6 4.2-50.4 4.4-75.9 0-11.5-2-20-11.9-20-23.6V418c-20.3-7.2-38.9-18-54.9-31.7L74 403c-10 5.8-22.9 3.6-30.3-5.3-16.2-19.4-33.3-41.6-42.2-65.7-4-10.9.4-23.2 10.5-29.1l33.3-16.8c-3.9-20.9-3.9-42.4 0-63.4L12 205.8c-10.1-5.8-14.6-18.1-10.5-29 8.9-24.2 26-46.4 42.2-65.8 7.4-8.9 20.2-11.1 30.3-5.3l29.1 16.8c16-13.7 34.6-24.6 54.9-31.7V57.1c0-11.5 8.2-21.5 19.6-23.5 24.6-4.2 50.5-4.4 76-.1 11.5 2 20 11.9 20 23.6v33.6c20.3 7.2 38.9 18 54.9 31.7l29.1-16.8c10-5.8 22.9-3.6 30.3 5.3 16.2 19.4 33.2 41.6 42.1 65.8 4 10.9.1 23.2-10 29.1l-33.7 16.8c3.9 21 3.9 42.5 0 63.5zm-117.6 21.1c59.2-77-28.7-164.9-105.7-105.7-59.2 77 28.7 164.9 105.7 105.7zm243.4 182.7l-8.2 14.3c-3 5.3-9.4 7.5-15.1 5.4-11.8-4.4-22.6-10.7-32.1-18.6-4.6-3.8-5.8-10.5-2.8-15.7l8.2-14.3c-6.9-8-12.3-17.3-15.9-27.4h-16.5c-6 0-11.2-4.3-12.2-10.3-2-12-2.1-24.6 0-37.1 1-6 6.2-10.4 12.2-10.4h16.5c3.6-10.1 9-19.4 15.9-27.4l-8.2-14.3c-3-5.2-1.9-11.9 2.8-15.7 9.5-7.9 20.4-14.2 32.1-18.6 5.7-2.1 12.1.1 15.1 5.4l8.2 14.3c10.5-1.9 21.2-1.9 31.7 0l8.2-14.3c3-5.3 9.4-7.5 15.1-5.4 11.8 4.4 22.6 10.7 32.1 18.6 4.6 3.8 5.8 10.5 2.8 15.7l-8.2 14.3c6.9 8 12.3 17.3 15.9 27.4h16.5c6 0 11.2 4.3 12.2 10.3 2 12 2.1 24.6 0 37.1-1 6-6.2 10.4-12.2 10.4h-16.5c-3.6 10.1-9 19.4-15.9 27.4l8.2 14.3c3 5.2 1.9 11.9-2.8 15.7-9.5 7.9-20.4 14.2-32.1 18.6-5.7 2.1-12.1-.1-15.1-5.4l-8.2-14.3c-10.4 1.9-21.2 1.9-31.7 0zM501.6 431c38.5 29.6 82.4-14.3 52.8-52.8-38.5-29.6-82.4 14.3-52.8 52.8z"/>
        </svg>
        Einstellungen
      </h3>
      <p>Hier lassen sich Einstellungen bzgl. der Bearbeitung und Anzeige vornehmen.</p>
      <p>Ferner kann hier die Datenbank gelöscht werden (was von Zeit zu Zeit aus performancegründen sinnvoll sein könnte, z.B. immer am Sprintanfang).</p>
    </div>

    <h3>Sonstiges</h3>
    <p>Ein Klick auf
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <!--suppress CheckEmptyScriptTag -->
        <path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/>
      </svg>
      blendet die linke Menüleiste ein und aus
    </p>

    <h2 id="manifest">Manifest</h2>
    <p>Planung ist wichtig und das Daily ist ein wichtiges Instrument bei der Planung der Aktivitäten bis zum Ende des Arbeitstages bzw. bis Sprintende.</p>
    <p>Das Board soll für die Entwickler im Daily die größtbögliche Information bieten. Aber nicht nur im Daily, sondern auch außerhalb des Dailys. Insbesondere bei verteilten Teams oder mit
      Teilzeitkräften.</p>
    <p>Deshalb verdeutlicht dieses Board allen und zu jeder Zeit:</p>
    <ul>
      <li>Was wurde geschafft?</li>
      <li>Wer ist zuständig für welchen Task?</li>
      <li>Wer muss / soll zu welchem Task im Daily etwas erzählen?</li>
      <li>Über welche Stelle am Board wird gerade geredet?</li>
      <li>Was können wir uns für heute noch vornehmen?</li>
      <li>Hier ist ein Task ohne einen Bearbeiter!</li>
      <li>Welche ausführlichen Anmerkungen und Hintergründe hat ein Zettel?</li>
      <li>Welcher Zettel wurde wie lange nicht bewegt?</li>
      <li>Wo finde ich den Code und weitere Infos zu einem Task?</li>
      <li>Wie weit ist eine Story fortgeschritten und wann ist sie wohl fertig?</li>
    </ul>
    <p>Für die Planung von Backlogs im Allgemeinen gibt es bessere Tools. Hier wird sich auf das Sprint-Backlog der Entwickler*Innen konzentriert.</p>
    <p>So können Task unabhängig von Ticketsystemen erstellt und bearbeitet werden. Bei Bedarf kann aber selbstverständlich eine Story oder ein Task auf ein externes Ticket verweisen.</p>

    <h2 id="release-notes">Release Notes</h2>
    <h3>Zwischen 20.7.2020 und 21.7.2020</h3>
    <ul class="circles">
      <li>Karten werden immer oben im Kasten des Boards aufgehängt</li>
      <li>Impediments haben eine zuständige Person</li>
      <li>Schriften sind nun auch offline verfügbar</li>
      <li>Farben geändert</li>
    </ul>
    <h3>Zwischen 12.7.2020 und 20.7.2020</h3>
    <ul class="circles">
      <li>Chicken kann jetzt das Coming Up sehen, aber nicht bearbeiten</li>
      <li>Coming Up Items lassen sich umbenennen und haben jetzt eine Ticketnummer</li>
      <li>Maßnahmen haben nun eine Deadline und ein zuständiges Teammitglied</li>
    </ul>
    <h3>Zwischen 5.7.2020 und 12.7.2020</h3>
    <ul class="circles">
      <li>Suchen-Ersetzen-Unfall bzgl. Historie und Daily behoben (hoffentlich überall)</li>
      <li>Fortschrittsicon im Daily vertauscht</li>
      <li>Passwort unterscheidet nun Pig and Chicken</li>
      <li>Rudimentäres Impediments-Board</li>
      <li>Rudimentäres Maßnahmen-Board</li>
      <li>Bugfix: Gelöschte Tasks und Stories in "Sprint" nicht mehr beachtet</li>
    </ul>
    <h3>Zwischen 1.7.2020 und 5.7.2020</h3>
    <ul class="circles">
      <li>Tasks sind jetzt nach Priorität sortiert (Oben = Hohe Prio)</li>
      <li>Story- und Task-Karten können nun gelöscht und wiederhergestellt werden</li>
      <li>Tasks können jetzt zu einer anderen Story verschoben werden</li>
      <li>Die Reihenfolge der Stories am Board kann nun über den Wert "Anzeige-Prio" bestimmt werden</li>
      <li>Im Daily erhält ab sofort jede Karte, die sich seit dem letzten Daily bewegt hat, ein Fortschritt-Icon</li>
      <li>Das Coming-Up lässt sich nun ans Board bringen</li>
      <li>Layout überarbeitet (keine Zucken der Navigationselemente mehr)</li>
      <li>Microsoft Edge und Opera getestet und für gut befunden (bis auf <a href="https://gitlab.com/klaus31/daily-scrumboard/-/issues/63">eine Kleinigkeit in Edge beim Kalenderknopf</a>)</li>
    </ul>
    <h3>Zwischen 5.7.2020 und 6.9.2020</h3>
    <ul class="circles">
      <li>Maßnahmen sind speicherbar</li>
      <li>Regeln und Beschlüsse bekommen einen Grund, benötigen nicht mehr zwingend eine Beschreibung und diese Felder haben einen großen Input bekommen.</li>
      <li>Info-Bereich im Daily wieder ganz nach vorn und scrollbar</li>
    </ul>
    <h2 id="credits">Credits</h2>
    <ul>
      <li><a href="https://fontawesome.com">Font Awesome</a></li>
      <li>Twitter Bootstrap <a href="https://github.com/BlackrockDigital/startbootstrap-sb-admin">sb-admin theme</a></li>
      <li>Weitere: <a href="https://gitlab.com/klaus31/faer-homeoffice/-/blob/dev/daily-scrumboard/client/package.json">siehe package.json</a></li>
    </ul>
    <div style="height: 2000px"></div>
  </div>
</template>

<script>
  import IconFirstPosition from "../atoms/IconFirstPosition";
  import IconStepBack from "../atoms/IconStepBack";
  import IconChooseDate from "../atoms/IconChooseDate";
  import IconStepForward from "../atoms/IconStepForward";
  import IconLastPosition from "../atoms/IconLastPosition";
  import IconHistorie from "../atoms/IconHistorie";
  import IconDaily from "../atoms/IconDaily";
  import IconComingUp from "../atoms/IconComingUp";
  import AUTHORIZATION_SERVICE from '../helpers/AuthorizationService'

  export default {
    data() {
      return {
        authorizationService: AUTHORIZATION_SERVICE
      }
    },
    components: {IconLastPosition, IconStepForward, IconChooseDate, IconStepBack, IconFirstPosition, IconHistorie, IconDaily, IconComingUp}
  }
</script>

<style scoped>
  ul {
    list-style-position: inside;
  }

  ul.circles {
    list-style-type: circle;
  }

  svg {
    height: 1em;
  }

</style>
