<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">

  <div class="container-fluid">
    <div class="row">
      <WorkOnCardArea @new-impediment="impediment => impediments.push(impediment)"
                      @delete-impediment="impediment => deleteImpediment(impediment)"
                      :impediment="currentImpediment"/>
      <TodoDoingDoneBoard :items="impediments" @change="persistImpediments" headline="Impediments" @click-on-card="item => setCurrentImpediment(item)">
        <template v-slot="slotProps">
          <ImpedimentCard
            v-if="containsImpediment(slotProps)"
            :impediment="chooseCurrentImpedimentFromSlotProps(slotProps)"/>
        </template>
      </TodoDoingDoneBoard>
    </div>
  </div>

</template>

<script>

  import WorkOnCardArea from './impediments/organisms/WorkOnCardArea'
  import ImpedimentCard from './impediments/organisms/ImpedimentCard'
  import TodoDoingDoneBoard from './organisms/TodoDoingDoneBoard'
  import ImpedimentsGateway from "../../dataaccess/ImpedimentsGateway";
  import Impediment from "../../model/Impediment";

  const GATEWAY = new ImpedimentsGateway();

  export default {
    data() {
      return {
        impediments: [],
        currentImpediment: null
      }
    },
    created() {
      GATEWAY.getImpediments(impediments => this.impediments = impediments);
    },
    methods: {
      setCurrentImpediment(item) {
        if (item) this.currentImpediment = this.impediments.filter(impediment => impediment.equals(Impediment.fromJSON(item)))[0];
      },
      persistImpediments(impediments) {
        GATEWAY.persist(impediments);
      },
      deleteImpediment(impediment) {
        this.currentImpediment = null;
        this.impediments.splice(this.impediments.indexOf(impediment), 1);
      },
      containsImpediment(slotProps) {
        return !!this.chooseCurrentImpedimentFromSlotProps(slotProps);
      },
      chooseCurrentImpedimentFromSlotProps(slotProps) {
        if (!slotProps || !slotProps.item) return null;
        const item = slotProps.item;
        return Impediment.fromJSON(item);
      }
    },
    components: {
      ImpedimentCard, WorkOnCardArea, TodoDoingDoneBoard
    },
    props: {
      search: {
        required: true,
        type: String
      }
    }
  }

</script>
