<template>

  <div class="container-fluid">
    <h2>Das Team</h2>
    <div class="teammember" :key="teammember.key" v-for="teammember in teammembers">
      <TeammemberMeme :teammember="teammember"/>
      <label class="btn btn-primary btn-sm file-upload" title="Avatar ändern (PNG)">✏️
        <input type="file" @change="event => sendFile(teammember, event.srcElement.files[0])" accept="image/png">
      </label>
    </div>
    <hr>
    <div>
      Neues Teammitglied!&nbsp;<OnOffSlide v-model="activateNewTeammember"/>
      <p v-if="activateNewTeammember" class="mark">
        Ein neues Teammitglied kann nicht mehr gelöscht werden und bleibt für immer!
      </p>
      <EditOptionalShortText v-if="activateNewTeammember"
                             label="Neues Teammitglied anlegen"
                             autoclear
                             text=""
                             button-label="Neues Teammitglied anlegen"
                             invalid-feedback="Benutzername zwischen 2 und 10 Zeichen"
                             required-pattern="^.{2,10}$"
                             @change="sendNewTeammember"/>
    </div>
  </div>

</template>

<script>

  import TeammemberMeme from '../molecules/TeammemberMeme'
  import UsersGateway from '../../dataaccess/UsersGateway'
  import EditOptionalShortText from "../molecules/EditOptionalShortText";
  import Teammember from "../../model/Teammember";
  import OnOffSlide from '../atoms/OnOffSlide'

  const USERS_GATEWAY = new UsersGateway();

  export default {
    components: {
      EditOptionalShortText,
      TeammemberMeme,
      OnOffSlide
    },
    props: {
      teammembers: {
        required: true,
        type: Array
      }
    },
    data() {
      return {
        activateNewTeammember: false
      }
    },
    methods: {
      sendFile(teammember, blobFile) {
        USERS_GATEWAY.postNewMeme(blobFile, teammember, function (img) {
          // noinspection JSUnresolvedVariable
          teammember.picture = img.base64;
        });
      },
      sendNewTeammember(name) {
        const teammember = new Teammember(name);
        const me = this;
        USERS_GATEWAY.postNewTeammember(teammember, function (teammember) {
          me.$emit('teammember-added', teammember);
          me.activateNewTeammember = false;
          window.location.reload(); // FIXME #24 workaround
        });
      }
    }
  }
</script>

<style scoped>

  div > .teammember {
    display: inline-block;
    margin: 0 10px 10px 0;
  }

  label.file-upload input[type="file"] {
    position: fixed;
    top: -1000px;
  }

  .teammember .file-upload {
    display: inline-block;
    position: absolute;
    padding: 2px;
    cursor: pointer;
    opacity: 0;
    margin: -175px 0 0 125px;
    border-radius: 0;
  }

  .teammember:hover .file-upload {
    opacity: 1;
  }

  p.mark {
    margin-top: 1em;
    background: yellow;
  }

</style>
