<template>

  <div class="container-fluid">
    <div class="row">
      <WorkOnCardArea @new-policy="policy => addPolicy(policy)"
                      @delete-policy="policy => deletePolicy(policy)"
                      :policy="currentPolicy"/>
      <div class="cards">
        <PolicyCard v-for="(policy, i) in policies" :key="i" :policy="policy" @click="currentPolicy = policy"/>
      </div>
    </div>
  </div>

</template>

<script>

  import PoliciesGateway from "../../dataaccess/PoliciesGateway";
  import PolicyCard from "./policy/organisms/PolicyCard";
  import WorkOnCardArea from "./policy/organisms/WorkOnCardArea";

  const GATEWAY = new PoliciesGateway();

  export default {
    components: {PolicyCard, WorkOnCardArea},
    data() {
      return {
        policies: [],
        currentPolicy: null,
        saveTimeout: null
      }
    },
    created() {
      GATEWAY.getPolicies(policies => this.policies = policies);
    },
    methods: {
      addPolicy(policy) {
        this.currentPolicy = null;
        this.policies.push(policy);
      },
      deletePolicy(policy) {
        this.currentPolicy = null;
        this.policies.splice(this.policies.indexOf(policy), 1);
      }
    },
    watch: {
      policies: {
        handler() {
          const me = this;
          if (this.saveTimeout) window.clearTimeout(this.saveTimeout);
          this.saveTimeout = window.setTimeout(() => GATEWAY.persist(me.policies), 3000);
        },
        deep: true
      }
    }
  }

</script>

<style>
  .cards > * {
    margin-right: 1em;
    display: inline-block;
    cursor: pointer;
  }

  @media print {
    #app nav, .navbar-nav, .info-col {
      display: none !important;
    }

    .info-col ~ div, #content-wrapper.sidebar {
      margin-left: 0 !important;
      left: 0 !important;
      width: 100% !important;
    }
  }
</style>
