<template>

  <div class="container-fluid">
    <h2>Einstellungen</h2>

    <table class="table table-striped">
      <thead>
      <tr>
        <th class="head">Anzeige Karten</th>
        <th>Wert</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Alle Tasks gleich groß</td>
        <td>
          <OnOffSlide v-model="settings.showCardInSameSizes"/>
        </td>
      </tr>
      <tr>
        <td>Zeige Aufwand</td>
        <td>
          <OnOffSlide v-model="settings.showCardElementEffort"/>
        </td>
      </tr>
      <tr>
        <td>Zeige Priorität</td>
        <td>
          <OnOffSlide v-model="settings.showCardElementPrio"/>
        </td>
      </tr>
      <tr>
        <td>Zeige Priorität nur wenn hoch</td>
        <td>
          <OnOffSlide :lock="!settings.showCardElementPrio" v-model="settings.showCardElementPrioHighOnly"/>
        </td>
      </tr>
      <tr>
        <td>Zeige zugewiesene Teammitglieder</td>
        <td>
          <OnOffSlide v-model="settings.showCardElementAssignees"/>
        </td>
      </tr>
      <tr>
        <td>Zeige Ticket-Nummer</td>
        <td>
          <OnOffSlide v-model="settings.showCardElementTicket"/>
        </td>
      </tr>
      <tr v-if="authorizationService.isAuthToWorkOnCode">
        <td>Zeige Branch-Link zum Kopieren in die Zwischenablage</td>
        <td>
          <OnOffSlide v-model="settings.showCardElementBranch"/>
        </td>
      </tr>
      <tr v-if="authorizationService.isAuthToWorkOnBoard">
        <td>Zeige auch gelöschte Karten<span v-if="settings.showDeletedCards">. <span class="mark">Das sollte nur zum Wiederherstellen aktiv sein</span></span></td>
        <td>
          <OnOffSlide v-model="settings.showDeletedCards"/>
        </td>
      </tr>
      <tr v-if="authorizationService.isAuthToWorkOnBoard">
        <td>Markiere Karte, falls Zuständigkeit fehlt</td>
        <td>
          <OnOffSlide v-model="settings.markOrphanTasks"/>
        </td>
      </tr>
      </tbody>
      <thead>
      <tr>
        <th class="head">Einstellungen für die Historie</th>
        <th>Wert</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="2" class="currentSettingsSummary">
          Aktuelle Einstellung<br>
          <span v-if="!settings.seperateClicksBySwimlaneInHistorie">Alle Ereignisse am Board werden in der zeitlichen Abfolge durchgegangen, egal, wo sich die Karte zu dem Ereignis am Board befindet.</span>
          <span v-if="settings.seperateClicksBySwimlaneInHistorie && !settings.seperateClicksBySwimlaneAndTasksInHistorie">Alle Ereignisse werden Reihe für Reihe von oben nach unten durchgegangen und innerhalb einer Reihe in der zeitlichen Abfolge der Ereignisse.</span>
          <span v-if="settings.seperateClicksBySwimlaneInHistorie && settings.seperateClicksBySwimlaneAndTasksInHistorie">
              Alle Ereignisse werden Reihe für Reihe von oben nach unten durchgegangen und innerhalb einer Reihe Task für Task in der zeitlichen Abfolge der Ereignisse.<br>
              Wird beim Vor- bzw. Zurückspringen die STRG-Taste gedrückt gehalten, werden alle Ereignisse zwischen der Erstellung der Karte und dem aktuellsten Stand übersprungen.
            </span>
        </td>
      </tr>
      <tr>
        <td>Swimlanes von oben nach unten durchgehen<span class="mark" v-if="settings.seperateClicksBySwimlaneInHistorie"> (<a href="https://gitlab.com/klaus31/daily-scrumboard/-/issues/64">Hier gibt's leider einen leichten Bug</a>)</span>
        </td>
        <td>
          <OnOffSlide v-model="settings.seperateClicksBySwimlaneInHistorie"/>
        </td>
      </tr>
      <tr :class="{disabled: !settings.seperateClicksBySwimlaneInHistorie}">
        <td>Swimlane zusätzlich Task für Task durchgehen</td>
        <td>
          <OnOffSlide :lock="!settings.seperateClicksBySwimlaneInHistorie" v-model="settings.seperateClicksBySwimlaneAndTasksInHistorie"/>
        </td>
      </tr>
      <tr>
        <td>Zeige Protokollleiste in der Historie</td>
        <td>
          <OnOffSlide v-model="settings.historieShowEventLogs"/>
        </td>
      </tr>
      <tr>
        <td>Zeige Zeitleiste in der Historie</td>
        <td>
          <OnOffSlide v-model="settings.historieShowTimeline"/>
        </td>
      </tr>
      <tr :class="{disabled: !settings.historieShowTimeline}">
        <td>Zeitleiste aktualisiert Board beim Ziehen (<span :class="{mark:settings.historieTimelineUpdateOnSlide}">experimentell<span v-if="settings.historieTimelineUpdateOnSlide"> &amp; geil</span></span>)
        </td>
        <td>
          <OnOffSlide :lock="!settings.historieShowTimeline" v-model="settings.historieTimelineUpdateOnSlide"/>
        </td>
      </tr>
      </tbody>
      <thead v-if="authorizationService.isAuthToWorkOnBoard">
      <tr>
        <th colspan="2" class="head">Daten verwalten</th>
      </tr>
      </thead>
      <tbody v-if="authorizationService.isAuthToWorkOnBoard">
      <tr>
        <td>
          <p>Alle Board-Ereignisse <span :class="{mark:activateDelete}">ohne blöde "wollen sie wirklich"-Abfrage und irreversibel</span> löschen.</p>
          <p class="hint">Kerndaten wie Teammitglieder und Spalteninfos bleiben erhalten.</p>
        </td>
        <td>
          <LockableButton :activate="activateDelete" label="DB jetzt löschen" @click="deleteAllEvents"/>
        </td>
      </tr>
      <tr v-if="authorizationService.isAuthToWorkOnBoard">
        <td colspan="2">
          <p>Links zur Serveranwendung</p>
          <ul>
            <li><a :href="calcServerUrl('h2-console')">Datenbank-Management-Konsole</a></li>
            <li><a :href="calcServerUrl('events')">Alle Ereignisse (JSON-Array)</a></li>
            <li><a :href="calcServerUrl('users')">Alle Teammitglieder (JSON-Array)</a></li>
            <li><a :href="calcServerUrl('boards')">Boards (JSON-Array mit 1 Board)</a></li>
            <li><a :href="calcServerUrl('comingup')">Coming Up Items</a></li>
            <li><a :href="calcServerUrl('documents/impediments')">Impediments</a></li>
            <li><a :href="calcServerUrl('documents/teamactions')">Maßnahmen</a></li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</template>

<script>

  import OnOffSlide from '../atoms/OnOffSlide'
  import EventsGateway from "../../dataaccess/EventsGateway";
  import LockableButton from "../molecules/LockableButton";
  import CONFIG from '../../config'
  import AUTHORIZATION_SERVICE from '../helpers/AuthorizationService'

  const EVENTS_GATEWAY = new EventsGateway();

  export default {
    components: {
      OnOffSlide, LockableButton
    },
    props: {
      settings: {
        required: true
      }
    },
    data() {
      return {
        activateDelete: false,
        authorizationService: AUTHORIZATION_SERVICE
      }
    },
    methods: {
      calcServerUrl(path) {
        return `${CONFIG.BASE_URI}/${path}`;
      },
      deleteAllEvents() {
        EVENTS_GATEWAY.deleteAll(() => {
          localStorage.setItem('lastEventDate', null);
          localStorage.setItem('view', 'home');
          window.location.reload();
        })
      }
    }
  }

</script>

<style scoped>
  p {
    margin-bottom: 0;
  }

  ul {
    list-style-position: inside;
  }

  button:disabled {
    cursor: default;
  }

  span.mark {
    background: yellow;
  }

  tr.disabled td {
    color: gray;
  }

  th.head {
    font-family: 'Bellota';
    font-size: 2em;
  }
</style>
