<template>

  <div class="container-fluid">
    <div class="container">
      <div id="sprint-summary">
        <h2>Zusammenfassung</h2>
        <p>
          Stories am Board: {{stories.length}}
        </p>
        <p>
          Punkte am Board: {{pointsCommitted}}
        </p>
        <p>
          Davon geschafft: {{pointsMade}}
        </p>
      </div>
      <div class="story" v-for="story in stories" :key="story.instanceId">
        <table class="table table-striped">
          <thead>
          <tr>
            <th colspan="2">Story »{{story.label}}«</th>
          </tr>
          </thead>
          <tbody>
          <tr v-if="story.tasks.length">
            <td>Fortschritt</td>
            <td>
              <StoryCompletedBar :states="board.statesOfTask" :tasks="story.tasks"/>
            </td>
          </tr>
          <tr v-if="story.points">
            <td>Punkte</td>
            <td>{{story.points}}</td>
          </tr>
          <tr>
            <td>Anzahl der Tasks</td>
            <td>{{story.tasks.length}}</td>
          </tr>
          <tr v-if="story.tasks.length">
            <td>Erste Bearbeitung</td>
            <td>{{calcFirstEventDatePretty(story)}}</td>
          </tr>
          <tr v-if="story.tasks.length">
            <td>Vorhersage alles in »{{board.lastStateOfTask.name}}«</td>
            <td>{{calcForecastDateFinish(story)}}</td>
          </tr>
          <tr :key="state.key" v-for="state in board.statesOfTask">
            <td>Aufwände im Status »{{state.name}}«</td>
            <td>{{calcPercentageInStatePretty(story, state)}}</td>
          </tr>
          <tr :key="state.key" v-for="state in board.statesOfTask">
            <td>Tasks im Status »{{state.name}}«</td>
            <td>{{story.getTasksWithState(state).length}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>

  import EventPlayer from './helpers/EventPlayer';
  import Board from './../../model/board/Board';
  import StoryCompletedBar from './molecules/StoryCompletedBar'
  import moment from 'moment'

  export default {
    components: {
      StoryCompletedBar
    },
    props: {
      events: {
        required: true,
        type: Array
      },
      board: {
        required: true,
        type: Board
      }
    },
    data() {
      return {
        stories: [],
        player: new EventPlayer(this.board),
      }
    },
    created() {
      this.player.loadEvents(this.events);
      this.stories = this.player.goToLastEvent(true).filter(s => !s.deleted);
    },
    computed: {
      pointsCommitted() {
        return this.stories
          .filter(s => !s.deleted)
          .filter(s => s.points)
          .map(s => s.points)
          .map(p => parseInt(p))
          .reduce((p1, p2) => p1 + p2, 0);
      },
      pointsMade() {
        return this.stories
          .filter(s => !s.deleted)
          .filter(s => s.points)
          .filter(s => !s.tasks.some(t => !t.deleted && !t.state.equals(this.board.lastStateOfTask)))
          .filter(s => s.points)
          .map(s => s.points)
          .map(p => parseInt(p))
          .reduce((p1, p2) => p1 + p2, 0);
      }
    },
    methods: {
      completed(story) {
        return !story.tasks.some(t => t.state !== this.board.lastStateOfTask);
      },
      calcFirstEventDatePretty(story) {
        const firstEvent = this.calcFirstEvent(story);
        return firstEvent ? firstEvent.dateAndTimePretty : 'Noch nicht begonnen';
      },
      calcForecastDateFinish(story) {
        const firstEvent = this.calcFirstEvent(story);
        if (firstEvent) {
          const done = this.calcPercentageInState(story, this.board.lastStateOfTask);
          if (!done) return '?';
          const msNeededByNow = new Date().getTime() - firstEvent.date.toDate().getTime();
          const msNeededTotal = msNeededByNow * 100 / done;
          const msStillNeeded = msNeededTotal - msNeededByNow;
          return moment().add(msStillNeeded, 'ms').format('dddd[, den ]D.M');
        } else return '?';
      },
      calcFirstEvent(story) {
        const taskChangedEvents = this.events
          .filter(e => e.concernsStory(story))
          .filter(e => e.type.key === 'TASK_CHANGED')
          .filter(e => e.subject.properties.attribute.key === 'state')
          .sort((e1, e2) => e1.occuredBefore(e2) ? -1 : 1);
        if (taskChangedEvents.length) return taskChangedEvents[0];
        else return null;
      },
      calcPercentageInStatePretty(story, state) {
        return this.calcPercentageInState(story, state) + ' %';
      },
      calcPercentageInState(story, state) {
        const tasksTotal = story.tasks.filter(t => !t.deleted).map(t => t.effort).reduce((e1, e2) => e1 + e2, 0);
        const taskInLastState = story.getTasksWithState(state).filter(t => !t.deleted).map(t => t.effort).reduce((e1, e2) => e1 + e2, 0);
        if (tasksTotal === 0) return 0;
        else return Math.round(taskInLastState / tasksTotal * 100);
      }
    }
  }
</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  #sprint-summary {
    padding: 10px;
  }

  div.story, #sprint-summary {
    border: 1px solid $color-text-main;
    background: white;
    margin: 10px 0;
  }

  p {
    margin: 0;
  }

  svg {
    width: 1em;
    margin-top: -.17em;
  }

</style>
