<template>

  <div class="container-fluid">
    <div class="row">
      <WorkOnCardArea @new-teamaction="teamaction => addTeamaction(teamaction)"
                      @delete-teamaction="teamaction => deleteTeamaction(teamaction)"
                      :teamaction="currentTeamaction"/>
      <TodoDoingDoneBoard :items="teamactions" @change="persistTeamactions" headline="Maßnahmen" @click-on-card="item => setCurrentTeamaction(item)">
        <template v-slot="slotProps">
          <TeamactionCard
            v-if="containsTeamaction(slotProps)"
            :teamaction="chooseCurrentTeamactionFromSlotProps(slotProps)"/>
        </template>
      </TodoDoingDoneBoard>
    </div>
  </div>

</template>

<script>

  import WorkOnCardArea from './teamactions/organisms/WorkOnCardArea'
  import TodoDoingDoneBoard from './organisms/TodoDoingDoneBoard'
  import TeamactionCard from './teamactions/organisms/TeamactionCard'
  import TeamactionsGateway from "../../dataaccess/TeamactionsGateway";
  import Teamaction from "../../model/Teamaction";

  const GATEWAY = new TeamactionsGateway();

  export default {
    components: {
      WorkOnCardArea, TodoDoingDoneBoard, TeamactionCard
    },
    data() {
      return {
        teamactions: [],
        currentTeamaction: null
      }
    },
    created() {
      GATEWAY.getTeamactions(teamactions => this.teamactions = teamactions);
    },
    methods: {
      setCurrentTeamaction(item) {
        if (item) this.currentTeamaction = this.teamactions.filter(ta => ta.equals(Teamaction.fromJSON(item)))[0];
      },
      deleteTeamaction(teamaction) {
        this.currentTeamaction = null;
        this.teamactions.splice(this.teamactions.indexOf(teamaction), 1);
      },
      addTeamaction(teamaction) {
        this.currentTeamaction = null;
        this.teamactions.push(teamaction);
      },
      persistTeamactions(teamactions) {
        GATEWAY.persist(teamactions);
      },
      containsTeamaction(slotProps) {
        return !!this.chooseCurrentTeamactionFromSlotProps(slotProps);
      },
      chooseCurrentTeamactionFromSlotProps(slotProps) {
        if (!slotProps || !slotProps.item) return null;
        const item = slotProps.item;
        return Teamaction.fromJSON(item);
      }
    },
    props: {
      search: {
        required: true,
        type: String
      }
    }
  }

</script>
