<template>

  <WorkingBoard :search="search" v-if="stories.length" :board="board" :stories="stories" :settings="settings" @new-event="submitEvent"/>
  <div class="col-3" v-else>
    <h3>Dieses Board ist leer</h3>
    <p>Erstelle eine erste Story, um mit der Arbeit am Board beginnen zu können</p>
    <CreateANewStory @new-event="submitEvent"/>
  </div>

</template>

<script>

  import WorkingBoard from './working/organisms/WorkingBoard';
  import Board from './../../model/board/Board';
  import EventPlayer from './helpers/EventPlayer';
  import EventsGateway from "../../dataaccess/EventsGateway";
  import CreateANewStory from "./working/organisms/CreateANewStory";
  import GLOBAL_MESSAGE_CTRL from "./../messagebox/helpers/GlobalMessageCtrl";
  import Message from './../messagebox/helpers/Message'

  const EVENTS_GATEWAY = new EventsGateway();

  export default {
    components: {
      CreateANewStory,
      WorkingBoard
    },
    props: {
      board: {
        required: true,
        type: Board
      },
      settings: {
        required: true,
      },
      player: {
        required: true,
        type: EventPlayer
      },
      search: {
        required: true,
        type: String
      }
    },
    data() {
      return {
        stories: [],
        justPushedEvent: false
      }
    },
    created() {
      this.stories = this.player.goToLastEvent(true);
    },
    methods: {
      submitEvent(newEvent) {
        this.justPushedEvent = true;
        EVENTS_GATEWAY.postEvent(newEvent);
      }
    },
    watch: {
      player: {
        handler() {
          this.stories = this.player.goToLastEvent(!this.justPushedEvent);
          const summary = this.player.getLastEvent().prettySummary;
          const message = Message.createInfoShownTimeBased(`Board wurde aktualisiert: ${summary}`);
          GLOBAL_MESSAGE_CTRL.showMessage(message);
          this.justPushedEvent = false;
        },
        deep: true
      }
    }
  }

</script>
