<template>
  <p>
    {{teamaction.title}}<br>
    <span class="person"><IconTeam/>{{teamaction.person || '?'}}</span><span class="deadline"><IconCalendar/>{{teamaction.deadline || '?'}}</span>
  </p>
</template>

<script>
  import Teamaction from "../../../../model/Teamaction";
  import IconTeam from "../../../atoms/IconTeam";
  import IconCalendar from "../../../atoms/IconCalendar";

  export default {
    components: {IconTeam,IconCalendar},
    props: {
      teamaction: {
        required: true,
        type: Teamaction
      }
    }
  }

</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  p {
    margin: 0;
  }

  span {
    background: white;
    border: 1px solid $color-text-main;
    border-radius: 5px;
    padding: 2px 10px;
    font-size: .8em;
    color: $color-text-main;
    margin: 0 5px 0 0;
    white-space: nowrap;
  }

  span svg {
    height: 1em;
    width: 1em;
    fill: $color-text-main;
    margin-right: .5em;
  }
</style>