<template>

  <div class="info-col">
    <CloseButton dark class="closeButton" @click="emptyInput" v-if="teamaction"/>
    <h2>Maßnahmen</h2>
    <SimpleShortText label="Wer?"
                     v-model="currentTeamaction.person"
                     v-focus/>
    <SimpleShortText label="Was?"
                     v-model="currentTeamaction.title"/>
    <SimpleShortText label="Bis wann?"
                     v-model="currentTeamaction.deadline"/>
    <LockableButton v-if="teamaction" label="Löschen" @click="emitDeleteTeamaction"/>
    <button v-else class="btn btn-primary" :disabled="currentTeamaction.isIncomplete" @click="emitNewTeamaction">Hinzufügen</button>
  </div>

</template>

<script>

  import SimpleShortText from '../../../molecules/SimpleShortText';
  import Teamaction from "../../../../model/Teamaction";
  import CloseButton from '../../../atoms/CloseButton'
  import LockableButton from '../../../molecules/LockableButton'

  export default {
    props: {
      teamaction: {
        required: false,
        type: Teamaction
      }
    },
    components: {
      SimpleShortText, CloseButton, LockableButton
    },
    methods: {
      emitNewTeamaction() {
        if (this.currentTeamaction.isIncomplete) return;
        this.$emit('new-teamaction', this.currentTeamaction);
        this.currentTeamaction = Teamaction.createEmpty();
      },
      emptyInput() {
        window.location.reload();
      },
      emitDeleteTeamaction() {
        this.$emit('delete-teamaction', this.currentTeamaction);
      }
    },
    watch: {
      teamaction(newTeamaction) {
        this.currentTeamaction = newTeamaction ? newTeamaction : Teamaction.createEmpty();
      }
    },
    data() {
      return {
        currentTeamaction: Teamaction.createEmpty()
      }
    }
  }

</script>

<style  lang="scss">

  @import "@/scss/_variables.scss";

  button {
    margin-bottom: 1em;
  }

  .closeButton svg {
    fill: $color-background-b !important;
    opacity: 1;
  }

  .closeButton:hover svg {
    fill: $color-background-a !important;
  }

  .closeButton {
    position: absolute;
    top: .3em;
    right: 0;
  }
</style>