<template>
  <div @click="$emit('click')">
    <h3>{{policy.title}}</h3>
    <p>{{policy.description}}</p>
    <h4 v-if="policy.reason">Ziel</h4>
    <p v-if="policy.reason">{{policy.reason}}</p>
    <p class="date">Beschlossen: {{policy.pretty.createdAt}}</p>
    <p class="date second">Gültig bis: {{policy.pretty.validUntil}}</p>
  </div>
</template>

<script>

  import Policy from "../../../../model/Policy";

  export default {
    components: {},
    props: {
      policy: {
        required: true,
        type: Policy
      }
    }
  }

</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  div {
    border: 1px solid $color-text-main;
    color: $color-text-main;
    padding: .5em;
    max-width: 25em;
    background: $color-background-card;
    h3 {
      font-family: $font-headline;
    }
    h4 {
      font-size: 1.2em;
      text-decoration: underline;
      margin: .4em 0 0;
    }
    p.date {
      opacity: .5;
      font-size: .8em;
    }
  }

  @media print {
    * {
      color: black;
      border: none !important;
      opacity: 1;
      display: block !important;
      position: relative !important;
      max-width: 100% !important;
      width: 100% !important;
      float: none !important;
    }

    div {
      page-break-after: always !important;
      page-break-inside: avoid;
    }

    h3 {
      font-size: 50pt;
      display: block !important;
      position: relative !important;
      page-break-before: always !important;;
    }

    p {
      font-size: 32pt;
      &.date {
        font-size: 16pt;
        color: gray;
        &.second {
          display: block !important;
          position: relative !important;
          page-break-after: always !important;;
        }
      }
    }
  }

</style>