<template>

  <div class="info-col">
    <CloseButton dark class="closeButton" @click="emptyInput" v-if="policy"/>
    <h2 v-if="policy">Regel / Beschluss bearbeiten</h2>
    <h2 v-else>Neue Regel /<br>Neuer Beschluss</h2>
    <SimpleShortText label="Titel"
                     v-model="currentPolicy.title"
                     focus/>
    <SimpleLongText label="Beschreibung"
                     v-model="currentPolicy.description"/>
    <SimpleLongText label="Ziel"
                     v-model="currentPolicy.reason"/>
    <SimpleDate label="Gültig seit"
                v-model="currentPolicy.createdAt"/>
    <SimpleDate label="Gültig bis"
                v-model="currentPolicy.validUntil"/>
    <LockableButton v-if="policy" label="Löschen" @click="emitDeletePolicy"/>
    <button v-else class="btn btn-primary" :disabled="!currentPolicy.isReadyToSafe" @click="emitNewPolicy">Hinzufügen</button>
  </div>

</template>

<script>

  import SimpleShortText from '../../../molecules/SimpleShortText';
  import SimpleLongText from '../../../molecules/SimpleLongText';
  import SimpleDate from '../../../molecules/SimpleDate';
  import Policy from "../../../../model/Policy";
  import CloseButton from '../../../atoms/CloseButton'
  import LockableButton from '../../../molecules/LockableButton'

  export default {
    props: {
      policy: {
        required: false,
        type: Policy
      }
    },
    components: {
      SimpleShortText,SimpleLongText, CloseButton, LockableButton, SimpleDate
    },
    methods: {
      emitNewPolicy() {
        if (this.currentPolicy.isIncomplete) return;
        this.$emit('new-policy', this.currentPolicy);
        this.currentPolicy = Policy.createEmpty();
      },
      emptyInput() {
        window.location.reload();
      },
      emitDeletePolicy() {
        this.$emit('delete-policy', this.currentPolicy);
      }
    },
    watch: {
      policy(newPolicy) {
        this.currentPolicy = newPolicy ? newPolicy : Policy.createEmpty();
      }
    },
    data() {
      return {
        currentPolicy: Policy.createEmpty()
      }
    }
  }

</script>

<style lang="scss">

  @import "@/scss/_variables.scss";

  button {
    margin-bottom: 1em;
  }

  .closeButton svg {
    fill: $color-background-b !important;
    opacity: 1;
  }

  .closeButton:hover svg {
    fill: $color-background-a !important;
  }

  .closeButton {
    position: absolute;
    top: .3em;
    right: 0;
  }
</style>