<template>

  <li @click="$emit('click')">
    <p>
      {{currentElement.name}}
    </p>
    <p v-if="currentElement.ticketNumber">
      <span class="ticket-number"><a :href="ticketNumberLink">{{ticketNumberText}}</a></span>
    </p>
  </li>

</template>

<script>

  import CONFIG from "../../../config"

  export default {
    components: {},
    props: {
      element: {
        required: true
      },
    },
    data() {
      return {
        currentElement: null,
      }
    },
    created() {
      this.currentElement = this.element;
    },
    methods: {},
    computed: {
      ticketNumberLink() {
        return CONFIG.TICKETSYSTEM.URI_PATTERN.replace('%d', this.currentElement.ticketNumber);
      },
      ticketNumberText() {
        return CONFIG.TICKETSYSTEM.PREFIX + this.currentElement.ticketNumber;
      },
    },
    watch: {
      element(newElement) {
        this.currentElement = newElement;
      }
    }
  }

</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  span.ticket-number {
    border: 1px solid $color-text-main;
    padding: 2px 10px;
    background: white;
    color: $color-text-main;
    font-size: .8em;
    border-radius: 5px;
  }

  span.ticket-number a {
    color: $color-text-main;
  }
</style>