<template>

  <div v-if="currentElement">
    <h2>{{currentElement.name}}</h2>
    <p>
      <SimpleShortText label="Beschriftung" v-model="currentElement.name" v-focus @input="$emit('change')"/>
    </p>
    <p>
      <SimpleShortText label="Ticketnummer" :prependText="ticketPrefix" v-model="currentElement.ticketNumber" @input="$emit('change')"/>
    </p>
  </div>
  <div v-else>
    Zum Bearbeiten einen Eintrag wählen ...
  </div>

</template>

<script>

  import SimpleShortText from "../../molecules/SimpleShortText";
  import CONFIG from "../../../config"

  export default {
    components: {SimpleShortText},
    props: {
      element: {
        required: true
      },
    },
    data() {
      return {
        currentElement: null,
        ticketPrefix: CONFIG.TICKETSYSTEM.PREFIX
      }
    },
    created() {
      this.currentElement = this.element;
    },
    methods: {},
    watch: {
      element(newElement) {
        this.currentElement = newElement;
      }
    }
  }

</script>

<style scoped>

</style>