/* malayalam */
@font-face {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Chettan 2 Regular'), local('BalooChettan2-Regular'), url(vm8udRbmXEva26PK-NtuX4ynWEzv__d6CpY.woff2) format('woff2');
  unicode-range: U+0307, U+0323, U+0964-0965, U+0D02-0D7F, U+200C-200D, U+20B9, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Chettan 2 Regular'), local('BalooChettan2-Regular'), url(vm8udRbmXEva26PK-NtuX4ynWEzv6Pd6CpY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Chettan 2 Regular'), local('BalooChettan2-Regular'), url(vm8udRbmXEva26PK-NtuX4ynWEzv6fd6CpY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Baloo Chettan 2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Baloo Chettan 2 Regular'), local('BalooChettan2-Regular'), url(vm8udRbmXEva26PK-NtuX4ynWEzv5_d6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic */
@font-face {
  font-family: 'Bellota';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bellota Regular'), local('Bellota-Regular'), url(MwQ2bhXl3_qEpiwAKJFbtVs-.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Bellota';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bellota Regular'), local('Bellota-Regular'), url(MwQ2bhXl3_qEpiwAKJpbtVs-.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Bellota';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bellota Regular'), local('Bellota-Regular'), url(MwQ2bhXl3_qEpiwAKJtbtVs-.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bellota';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bellota Regular'), local('Bellota-Regular'), url(MwQ2bhXl3_qEpiwAKJVbtQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cutive Mono Regular'), local('CutiveMono-Regular'), url(m8JWjfRfY7WVjVi2E-K9H6RMTm663A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cutive Mono Regular'), local('CutiveMono-Regular'), url(m8JWjfRfY7WVjVi2E-K9H6RCTm4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
