<template>
  <p>
    <span :style="style(percentage, i)" :key="i" v-for="(percentage, i) in percentages"></span>
  </p>
</template>

<script>

  const COLS_COLORS = {
    1: ['#A5000D'],
    2: ['#A5000D', '#006600'],
    3: ['#A5000D', '#FFFF66', '#006600'],
    4: ['#A5000D', '#FFCC00', '#CCFF66', '#006600'],
    5: ['#A5000D', '#FFCC00', '#FFFF66', '#CCFF66', '#006600'],
    6: ['#A5000D', '#FFFF00', '#CCFF66', '#99FF33', '#66CC00', '#006600'],
    7: ['#A5000D', '#FF3333', '#FFCC00', '#FFFF66', '#CCFF66', '#66CC00', '#006600']
  };

  export default {
    components: {},
    props: {
      values: {
        required: true,
        type: Array
      }
    },
    methods: {
      style(percentage, i) {
        const style = {
          width: `${percentage}%`
        };
        if (COLS_COLORS[this.values.length]) {
          style.backgroundColor = COLS_COLORS[this.values.length][i];
        } else {
          // show green in cols greater equal 7
          style.backgroundColor = COLS_COLORS[7][i] || COLS_COLORS[7][6];
        }
        return style;
      }
    },
    computed: {
      percentages() {
        const sum = this.values.reduce((v1, v2) => v1 + v2);
        return this.values.map(v => v / sum * 100);
      }
    }
  }
</script>

<style scoped>
  p {
    width: 100%;
    height: 20px;
    background: red;
    margin: 0;
  }

  p span {
    margin: 0;
    height: 20px;
    display: inline-block;
  }
</style>
