<template xmlns:v-clipboard="http://www.w3.org/1999/xhtml">

  <a class="btn"
     v-clipboard:copy="computedLink"
     v-clipboard:success="onCopy"
     v-clipboard:error="onError">
    <IconShare/>
  </a>

</template>

<script>

  import IconShare from '../../../atoms/IconShare'
  import GLOBAL_MESSAGE_CTRL from "./../../../messagebox/helpers/GlobalMessageCtrl";
  import Message from './../../../messagebox/helpers/Message'

  export default {
    components: {
      IconShare
    },
    props: {
      instanceId: {
        required: true
      }
    },
    computed: {
      computedLink() {
        const href = window.location.href.replace(/#$/, '');
        return `${href}#${this.instanceId}`;
      }
    },
    methods: {
      onCopy() {
        const message = Message.createInfoShownTimeBased(`Link in die Zwischenablage kopiert.`);
        GLOBAL_MESSAGE_CTRL.showMessage(message);
      },
      onError() {
        const message = Message.createErrorShownUntilClosed(`Konnte Link nicht in die Zwischenablage kopieren.`);
        GLOBAL_MESSAGE_CTRL.showMessage(message);
      }
    }
  }

</script>

<style scoped>
  svg {
    width: 20px;
    height: 20px;
  }
</style>
