<template>
  <div :style="style" id="content-wrapper" v-if="isFetchingDataCompleted" :class="{sidebar: sidebarOn}">
    <SingleTaskView @close="closeSingleCardView" class="single-card-view" :task="singleCardView.task" v-if="singleCardView.task && showView('singletask')"/>
    <SingleStoryView @close="closeSingleCardView" class="single-card-view" :story="singleCardView.story" v-if="singleCardView.story && showView('singlestory')"/>
    <Login v-if="showView('login')"/>
    <Home v-if="showView('home')"/>
    <Working :search="search" :board="board" :settings="settings" :player="player" v-if="player && showView('working')"/>
    <Impediments :search="search" v-if="player && showView('impediments')"/>
    <Teamactions :search="search" v-if="player && showView('teamactions')"/>
    <Policy v-if="player && showView('policy')"/>
    <Daily :search="search" :daily="daily" :board="board" :settings="settings" :player="player" v-if="player && showView('daily')"/>
    <Historie :search="search" :events="events" :board="board" :settings="settings" v-if="showView('historie')"/>
    <ComingUp :player="player" v-if="showView('comingup')"/>
    <Sprint :events="events" :board="board" v-if="showView('sprint')"/>
    <EventOverview :events="events" v-if="showView('eventoverview')"/>
    <Settings :settings="settings" v-if="showView('settings')"/>
    <Members :teammembers="board.teammembers" v-if="showView('members')" @teammember-added="tm => board.addTeammember(tm)"/>
  </div>
</template>

<script>

  import Home from './content/Home'
  import Working from './content/Working'
  import Impediments from './content/Impediments'
  import Teamactions from './content/Teamactions'
  import EventOverview from './content/EventOverview'
  import Settings from './content/Settings'
  import ComingUp from './content/ComingUp'
  import Daily from './content/Daily'
  import Historie from './content/Historie'
  import Login from './Login'
  import Members from './content/Members'
  import Policy from './content/Policy'
  import Sprint from './content/Sprint'
  import EventsGateway from './../dataaccess/EventsGateway'
  import SyncItemGateway from './../dataaccess/SyncItemGateway'
  import BoardGateway from './../dataaccess/BoardGateway'
  import settings from './../model/Settings'
  import EventPlayer from './content/helpers/EventPlayer';
  import SingleTaskView from './SingleTaskView';
  import SingleStoryView from "./SingleStoryView";
  import CONFIG from './../config'
  import DailyItem from "../model/DailyItem";


  const EVENTS_GATEWAY = new EventsGateway();
  const SYNC_GATEWAY = new SyncItemGateway();
  const BOARD_GATEWAY = new BoardGateway();

  export default {
    components: {
      SingleStoryView,
      Home, Working, EventOverview, Impediments, Teamactions, Settings, Historie, Sprint, Members, SingleTaskView, Login, ComingUp, Daily, Policy
    },
    props: {
      view: {
        required: true,
        type: String
      },
      search: String,
      sidebarOn: Boolean
    },
    watch: {
      view(newValue) {
        this.internView = newValue;
      },
      sidebarOn() {
        this.recalcStyle();
      }
    },
    created() {
      const me = this;
      BOARD_GATEWAY.getBoard(board => {
        me.board = board;
        me.player = new EventPlayer(board);
        EVENTS_GATEWAY.getEvents(board, events => {
          me.events = events;
          me.player.loadEvents(events);
          me.isFetchingDataCompleted = true;
          if (window.location.hash) {
            const instanceIdFromHash = window.location.hash.substr(1);
            if (me.events.some(e => e.concernsStory(instanceIdFromHash))) {
              this.singleCardView.story = me.player.goToLastEvent(true)
                .filter(story => story.instanceId === instanceIdFromHash)[0];
              this.internView = 'singlestory';
            } else if (me.events.some(e => e.concernsTask(instanceIdFromHash))) {
              this.singleCardView.task = me.player.goToLastEvent(true)
                .filter(story => story.containsTask(instanceIdFromHash))
                .map(story => story.searchTask(instanceIdFromHash))[0];
              this.internView = 'singletask';
            }
          }
          if (this.internView === null) this.internView = this.view;
        });
        window.setInterval(
          () => SYNC_GATEWAY.getSyncItem(board, syncItem => {
            me.syncItem = syncItem;
            me.player.updateEvents(syncItem.lastBoardEvents);
          }),
          2000);

        window.onresize = this.recalcStyle;
        this.recalcStyle();
      });
    },
    methods: {
      showView(view) {
        if (!CONFIG.LOGIN.PIG || localStorage.getItem('login-pig') === CONFIG.LOGIN.PIG || localStorage.getItem('login-chicken') === CONFIG.LOGIN.CHICKEN) return this.internView === view;
        else return view === 'login';
      },
      recalcStyle() {
        const sidebarWidth = this.sidebarOn ? (window.innerWidth < 768 ? 90 : 225) : 0;
        const width = window.innerWidth - sidebarWidth;
        const height = window.innerHeight - 55;
        this.style = {
          width: `${width}px`,
          height: `${height}px`
        }
      },
      closeSingleCardView() {
        this.internView = this.view;
        window.location.hash = '';
      }
    },
    computed: {
      daily() {
        return this.syncItem && this.syncItem.daily ? this.syncItem.daily : new DailyItem(null);
      }
    },
    data() {
      return {
        events: [],
        player: null,
        board: null,
        internView: null,
        settings: settings,
        isFetchingDataCompleted: false,
        singleCardView: {
          task: null,
          story: null
        },
        syncItem: null,
        style: {}
      }
    }
  }
</script>

<style lang="scss">

  @import "@/scss/_variables.scss";

  #content-wrapper.sidebar {
    left: 90px;
  }

  @media (min-width: 768px) {
    #content-wrapper.sidebar {
      left: 225px;
    }
  }

  #content-wrapper {
    position: fixed;
    left: 0;
    top: 55px;
    padding: 1em 0 0 0;
    height: 800px;
    overflow: auto;
  }

  .single-card-view {
    position: absolute;
    background: white;
    padding: 3em !important;
    border: 3em solid $color-text-main;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  table {
    border-collapse: collapse;
  }

  table td, table th {
    border: 1px solid $color-text-main;
    padding: .5em;
    vertical-align: top;
  }

</style>