<template>
  <div class="container-fluid">
    <input type="password" v-model="login" placeholder="Passwort" v-focus/>
  </div>
</template>

<script>

  import AUTHENTIFICATION_SERVICE from './helpers/AuthentificationService'

  export default {
    data() {
      return {
        login: ''
      }
    },
    watch: {
      login(login) {
        AUTHENTIFICATION_SERVICE.login(login);
      }
    }
  }
</script>

<style scoped>
  input {
    padding: .5em 1em;
    font-size: 2em;
  }
</style>
