<template>
  <div class="main" :class="{shown: showMessage, info: (message && message.isInfo), error: (message && message.isError)}">
    <div v-if="message">
      <CloseButton class="close" @click="closeBox" v-if="message.isCloseable" :dark="showMessage && showMessage.isError"/>
      <p class="message">{{message.text}}</p>
    </div>
  </div>
</template>

<script>

  import CloseButton from "./atoms/CloseButton";
  import GLOBAL_MESSAGE_CTRL from "./messagebox/helpers/GlobalMessageCtrl";

  export default {
    components: {CloseButton},
    data() {
      return {
        message: GLOBAL_MESSAGE_CTRL.message,
        showMessage: false
      }
    },
    created() {
      const me = this;
      GLOBAL_MESSAGE_CTRL.onNewMessage(me.handleMessage)
    },
    methods: {
      openBox(message) {
        this.showMessage = true;
        this.message = message;
        const me = this;
        if (message.isAutoHide) {
          window.setTimeout(me.closeBox, message.secondsToShow * 1000);
        }
      },
      closeBox() {
        // FIXME #57 (hier mit einer unzulässigen if abfrage provisorisch geflickt
        if (this.message) this.message.callbackOnClose();
        this.showMessage = false;
        const me = this;
        window.setTimeout(() => me.message = null, 1500);
      },
      handleMessage(newMessage) {
        this.openBox(newMessage);
      }
    }
  }
</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  div > p.message {
    margin: .9em 0;
  }

  div.main.shown {
    top: 0;
  }

  div.main.info .message::before {
    content: 'ℹ️ ';
  }

  div.main.error .message::before {
    content: '⚠️ ';
  }

  div.main.info {
    background: lightblue;
    color: $color-text-main;
    border-bottom: 3px solid darkcyan;
  }

  div.main.error {
    background: darkred;
    color: white;
    font-weight: bold;
    border-bottom: 3px solid red;
  }

  div.main {
    position: fixed;
    width: 100%;
    top: -200px;
    z-index: 1000;
    text-align: center;
    transition: top 1s;
  }

  .close {
    position: fixed;
    right: 5px;
    top: 5px;
  }

</style>
