<template>
  <nav>

    <button @click="emitToggleClick">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
        <!--suppress CheckEmptyScriptTag -->
        <path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"/>
      </svg>
    </button>

    <a @click="emitToggleClick" class="navbar-brand">{{title}}</a>

    <GlobalSearch :disabled="!viewHasBoard" @search="search => $emit('search', search)"/>

  </nav>
</template>

<script>

  import GlobalSearch from './organisms/GlobalSearch'

  export default {
    components: {GlobalSearch},
    props: {
      title: String,
      view: String,
    },
    computed: {
      viewHasBoard() {
        return ['daily', 'working', 'historie'].indexOf(this.view) >= 0;
      }
    },
    methods: {
      emitToggleClick() {
        this.$emit('click-toggle');
      }
    }
  }
</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  input[type=search] {
    right: 30px;
    top: 11px;
    position: absolute;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: .5rem 1rem;
    z-index: 100;
    height: 55px;
  }

  nav, button {
    background-color: $color-background-a !important;
    border: none;
  }

  button {
    cursor: pointer;
  }

  .navbar-brand, .navbar-brand:hover {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-left: .5rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    color: white;
    cursor: pointer;
  }

  svg {
    display: inline-block;
    line-height: 1;
  }

  nav svg {
    width: 17px;
    fill: white;
  }

</style>
