<template>

  <ul class="sidebar navbar-nav">
    <li v-if="authorizationService.isAuthToSee('home')" class="nav-item" :class="{active:view==='home'}">
        <span class="nav-link" @click="emitNavItemClick('home')">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--suppress CheckEmptyScriptTag -->
            <path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/>
          </svg>
          <span>Home</span>
        </span>
    </li>
    <li v-if="authorizationService.isAuthToSee('working')" class="nav-item" @click="emitNavItemClick('working')" :class="{active:view==='working'}">
        <span class="nav-link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--suppress CheckEmptyScriptTag -->
            <path d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z"/>
          </svg>
          <span>Bearbeitung</span>
        </span>
    </li>
    <li v-if="authorizationService.isAuthToSee('daily')" class="nav-item" @click="emitNavItemClick('daily')" :class="{active:view==='daily'}">
      <span class="nav-link">
        <IconDaily/>
        <span>Daily</span>
      </span>
    </li>
    <li v-if="authorizationService.isAuthToSee('historie')" class="nav-item" @click="emitNavItemClick('historie')" :class="{active:view==='historie'}">
      <span class="nav-link">
        <IconHistorie/>
        <span>Historie</span>
        </span>
    </li>
    <li v-if="authorizationService.isAuthToSee('comingup')" class="nav-item" @click="emitNavItemClick('comingup')" :class="{active:view==='comingup'}">
        <span class="nav-link">
          <IconComingUp/>
          <span>Coming Up</span>
        </span>
    </li>
    <li v-if="authorizationService.isAuthToSee('impediments')" class="nav-item" @click="emitNavItemClick('impediments')" :class="{active:view==='impediments'}">
        <span class="nav-link">
          <IconImpediments/>
          <span>Impediments</span>
        </span>
    </li>
    <li v-if="authorizationService.isAuthToSee('teamactions')" class="nav-item" @click="emitNavItemClick('teamactions')" :class="{active:view==='teamactions'}">
        <span class="nav-link">
          <IconTeamaction/>
          <span>Maßnahmen</span>
        </span>
    </li>
    <li v-if="authorizationService.isAuthToSee('policy')" class="nav-item" @click="emitNavItemClick('policy')" :class="{active:view==='policy'}">
        <span class="nav-link">
          <IconPolicy/>
          <span>Regeln und Beschlüsse</span>
        </span>
    </li>
    <li v-if="authorizationService.isAuthToSee('sprint')" class="nav-item" @click="emitNavItemClick('sprint')" :class="{active:view==='sprint'}">
        <span class="nav-link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--suppress CheckEmptyScriptTag -->
            <path d="M496 384H64V80c0-8.84-7.16-16-16-16H16C7.16 64 0 71.16 0 80v336c0 17.67 14.33 32 32 32h464c8.84 0 16-7.16 16-16v-32c0-8.84-7.16-16-16-16zM464 96H345.94c-21.38 0-32.09 25.85-16.97 40.97l32.4 32.4L288 242.75l-73.37-73.37c-12.5-12.5-32.76-12.5-45.25 0l-68.69 68.69c-6.25 6.25-6.25 16.38 0 22.63l22.62 22.62c6.25 6.25 16.38 6.25 22.63 0L192 237.25l73.37 73.37c12.5 12.5 32.76 12.5 45.25 0l96-96 32.4 32.4c15.12 15.12 40.97 4.41 40.97-16.97V112c.01-8.84-7.15-16-15.99-16z"/>
          </svg>
          <span>Sprint</span>
        </span>
    </li>
    <li v-if="authorizationService.isAuthToSee('members')" class="nav-item" @click="emitNavItemClick('members')" :class="{active:view==='members'}">
        <span class="nav-link">
          <IconTeam/>
          <span>Teammitglieder</span>
        </span>
    </li>
    <li v-if="authorizationService.isAuthToSee('eventoverview')" class="nav-item" @click="emitNavItemClick('eventoverview')" :class="{active:view==='eventoverview'}">
        <span class="nav-link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <!--suppress CheckEmptyScriptTag -->
            <path d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zm-6 400H54a6 6 0 0 1-6-6V86a6 6 0 0 1 6-6h404a6 6 0 0 1 6 6v340a6 6 0 0 1-6 6zm-42-92v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm0-96v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm0-96v24c0 6.627-5.373 12-12 12H204c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h200c6.627 0 12 5.373 12 12zm-252 12c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36zm0 96c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36zm0 96c0 19.882-16.118 36-36 36s-36-16.118-36-36 16.118-36 36-36 36 16.118 36 36z"/>
          </svg>
            <span>Ereignisse</span>
        </span>
    </li>
    <li v-if="authorizationService.isAuthToSee('settings')" class="nav-item" @click="emitNavItemClick('settings')" :class="{active:view==='settings'}">
        <span class="nav-link">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--suppress CheckEmptyScriptTag -->
            <path d="M512.1 191l-8.2 14.3c-3 5.3-9.4 7.5-15.1 5.4-11.8-4.4-22.6-10.7-32.1-18.6-4.6-3.8-5.8-10.5-2.8-15.7l8.2-14.3c-6.9-8-12.3-17.3-15.9-27.4h-16.5c-6 0-11.2-4.3-12.2-10.3-2-12-2.1-24.6 0-37.1 1-6 6.2-10.4 12.2-10.4h16.5c3.6-10.1 9-19.4 15.9-27.4l-8.2-14.3c-3-5.2-1.9-11.9 2.8-15.7 9.5-7.9 20.4-14.2 32.1-18.6 5.7-2.1 12.1.1 15.1 5.4l8.2 14.3c10.5-1.9 21.2-1.9 31.7 0L552 6.3c3-5.3 9.4-7.5 15.1-5.4 11.8 4.4 22.6 10.7 32.1 18.6 4.6 3.8 5.8 10.5 2.8 15.7l-8.2 14.3c6.9 8 12.3 17.3 15.9 27.4h16.5c6 0 11.2 4.3 12.2 10.3 2 12 2.1 24.6 0 37.1-1 6-6.2 10.4-12.2 10.4h-16.5c-3.6 10.1-9 19.4-15.9 27.4l8.2 14.3c3 5.2 1.9 11.9-2.8 15.7-9.5 7.9-20.4 14.2-32.1 18.6-5.7 2.1-12.1-.1-15.1-5.4l-8.2-14.3c-10.4 1.9-21.2 1.9-31.7 0zm-10.5-58.8c38.5 29.6 82.4-14.3 52.8-52.8-38.5-29.7-82.4 14.3-52.8 52.8zM386.3 286.1l33.7 16.8c10.1 5.8 14.5 18.1 10.5 29.1-8.9 24.2-26.4 46.4-42.6 65.8-7.4 8.9-20.2 11.1-30.3 5.3l-29.1-16.8c-16 13.7-34.6 24.6-54.9 31.7v33.6c0 11.6-8.3 21.6-19.7 23.6-24.6 4.2-50.4 4.4-75.9 0-11.5-2-20-11.9-20-23.6V418c-20.3-7.2-38.9-18-54.9-31.7L74 403c-10 5.8-22.9 3.6-30.3-5.3-16.2-19.4-33.3-41.6-42.2-65.7-4-10.9.4-23.2 10.5-29.1l33.3-16.8c-3.9-20.9-3.9-42.4 0-63.4L12 205.8c-10.1-5.8-14.6-18.1-10.5-29 8.9-24.2 26-46.4 42.2-65.8 7.4-8.9 20.2-11.1 30.3-5.3l29.1 16.8c16-13.7 34.6-24.6 54.9-31.7V57.1c0-11.5 8.2-21.5 19.6-23.5 24.6-4.2 50.5-4.4 76-.1 11.5 2 20 11.9 20 23.6v33.6c20.3 7.2 38.9 18 54.9 31.7l29.1-16.8c10-5.8 22.9-3.6 30.3 5.3 16.2 19.4 33.2 41.6 42.1 65.8 4 10.9.1 23.2-10 29.1l-33.7 16.8c3.9 21 3.9 42.5 0 63.5zm-117.6 21.1c59.2-77-28.7-164.9-105.7-105.7-59.2 77 28.7 164.9 105.7 105.7zm243.4 182.7l-8.2 14.3c-3 5.3-9.4 7.5-15.1 5.4-11.8-4.4-22.6-10.7-32.1-18.6-4.6-3.8-5.8-10.5-2.8-15.7l8.2-14.3c-6.9-8-12.3-17.3-15.9-27.4h-16.5c-6 0-11.2-4.3-12.2-10.3-2-12-2.1-24.6 0-37.1 1-6 6.2-10.4 12.2-10.4h16.5c3.6-10.1 9-19.4 15.9-27.4l-8.2-14.3c-3-5.2-1.9-11.9 2.8-15.7 9.5-7.9 20.4-14.2 32.1-18.6 5.7-2.1 12.1.1 15.1 5.4l8.2 14.3c10.5-1.9 21.2-1.9 31.7 0l8.2-14.3c3-5.3 9.4-7.5 15.1-5.4 11.8 4.4 22.6 10.7 32.1 18.6 4.6 3.8 5.8 10.5 2.8 15.7l-8.2 14.3c6.9 8 12.3 17.3 15.9 27.4h16.5c6 0 11.2 4.3 12.2 10.3 2 12 2.1 24.6 0 37.1-1 6-6.2 10.4-12.2 10.4h-16.5c-3.6 10.1-9 19.4-15.9 27.4l8.2 14.3c3 5.2 1.9 11.9-2.8 15.7-9.5 7.9-20.4 14.2-32.1 18.6-5.7 2.1-12.1-.1-15.1-5.4l-8.2-14.3c-10.4 1.9-21.2 1.9-31.7 0zM501.6 431c38.5 29.6 82.4-14.3 52.8-52.8-38.5-29.6-82.4 14.3-52.8 52.8z"/>
          </svg>
          <span>Einstellungen</span>
        </span>
    </li>
    <li class="nav-item" v-if="hasLogout" @click="logout()">
        <span class="nav-link">
          <IconSignOut/>
          <span>Logout</span>
        </span>
    </li>
  </ul>

</template>

<script>

  import IconComingUp from './atoms/IconComingUp'
  import IconSignOut from './atoms/IconSignOut'
  import IconDaily from './atoms/IconDaily'
  import IconTeam from './atoms/IconTeam'
  import IconPolicy from './atoms/IconPolicy'
  import IconTeamaction from './atoms/IconTeamaction'
  import IconImpediments from './atoms/IconImpediments'
  import IconHistorie from './atoms/IconHistorie'
  import AUTHENTIFICATION_SERVICE from './helpers/AuthentificationService'
  import AUTHORIZATION_SERVICE from './helpers/AuthorizationService'

  export default {
    components: {IconSignOut, IconTeamaction, IconComingUp, IconDaily, IconHistorie, IconImpediments, IconTeam, IconPolicy},
    props: {
      view: String
    },
    data() {
      return {
        authorizationService: AUTHORIZATION_SERVICE
      }
    },
    methods: {
      emitNavItemClick(view) {
        this.$emit('click-nav-item', view);
      },
      logout() {
        AUTHENTIFICATION_SERVICE.logout();
      }
    },
    computed: {
      isLoggedIn() {
        return AUTHENTIFICATION_SERVICE.isLoggedIn();
      },
      hasLogout() {
        return this.hasLogin && this.isLoggedIn;
      },
      hasLogin() {
        return AUTHENTIFICATION_SERVICE.hasLogin();
      }
    }
  }
</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  .navbar-nav .nav-item {
    .nav-link:focus {
      outline: 0
    }
    &.active .nav-link {
      color: #fff
    }
  }

  .sidebar {
    width: 90px !important;
    position: fixed;
    left: 0;
    z-index: 100;
    background-color: $color-background-a;
    min-height: calc(100vh - 56px);
    padding-top: 2em;

    .nav-item {
      &:last-child {
        margin-bottom: 1rem
      }

      .nav-link {
        text-align: center;
        padding: .75rem 1rem;
        width: 90px;
        color: white;
        padding-left: 5px;
        cursor: pointer;

        span {
          font-size: .65rem;
          display: block;
          padding-left: 5px;
        }

      }

      svg {
        width: 25px;
        fill: $color-background-b;
      }

      * {
        color: $color-background-b;
      }

      &.active svg {
        fill: white;
      }

      &.active * {
        color: white;
      }

      &:hover:not(.active) {
        svg, * {
          color: $color-text-hover;
          fill: $color-text-hover;
        }
      }

    }
  }

  @media (min-width: 768px) {
    .sidebar {
      width: 225px !important;

      .nav-item .nav-link {
        display: block;
        text-align: left;
        padding: 1rem;
        width: 225px
      }

      .nav-item .nav-link span {
        font-size: 1rem;
        display: inline
      }

      .toggled .nav-item:last-child {
        margin-bottom: 1rem
      }

      .toggled .nav-item .nav-link {
        text-align: center;
        padding: .75rem 1rem;
        width: 90px
      }

      .toggled .nav-item .nav-link span {
        font-size: .65rem;
        display: block
      }
    }
  }

  svg {
    display: inline-block;
    line-height: 1;
  }

</style>
