<template>
  <div class="container-fluid">
    <CloseButton dark class="close" @click="$emit('close')"/>
    <h1>Story</h1>
    <StoryInfobox :story="story"/>
    <button class="btn btn-lg btn-primary" @click="$emit('close')">Schließen</button>
  </div>
</template>

<script>

  import CloseButton from "./atoms/CloseButton";
  import Story from "../model/board/Story";
  import StoryInfobox from "./organisms/StoryInfobox";

  export default {
    components: {StoryInfobox, CloseButton},
    props: {
      story: {
        required: true,
        type: Story
      }
    }
  }
</script>

<style scoped>
  .close {
    position: absolute;
    right: 1em;
  }
</style>
