<template>
  <div class="container-fluid">
    <CloseButton dark class="close" @click="$emit('close')"/>
    <h1>Task</h1>
    <TaskInfobox :task="task"/>
    <button class="btn btn-lg btn-primary" @click="$emit('close')">Schließen</button>
  </div>
</template>

<script>

  import CloseButton from "./atoms/CloseButton";
  import Task from "../model/board/Task";
  import TaskInfobox from "./organisms/TaskInfobox";

  export default {
    components: {TaskInfobox, CloseButton},
    props: {
      task: {
        required: true,
        type: Task
      }
    }
  }
</script>

<style scoped>
  .close {
    position: absolute;
    right: 1em;
  }
</style>
