<!--suppress CheckEmptyScriptTag -->
<template>

  <div class="event-infobox">

    <h2>»{{summary.label}}«</h2>

    <p class="subhead">Ereignis</p>
    <p>
      <span class="date-time">{{event.dateAndTimePretty}}</span><br>
      {{event.prettySummary}}
    </p>

    <h4 v-if="summary.isTask">Stand des Tasks zu diesem Zeitpunkt</h4>
    <h4 v-else>Stand der Story zu diesem Zeitpunkt</h4>

    <div v-if="summary.isTask">

      <p class="subhead">Zugewiesen</p>
      <TeammemberMeme class="assignee" :teammember="assignee" :key="assignee.name" v-for="assignee in summary.assignees"/>
      <p v-if="!summary.assignees.length">niemandem</p>

      <p class="subhead">Aufwand</p>
      <p>{{summary.effort}}</p>

      <p class="subhead">Priorität</p>
      <p>{{summary.prio}}</p>
    </div>

    <div v-if="summary.text">
      <p class="subhead">Beschreibung</p>
      <p>{{summary.text}}</p>
    </div>

    <div v-if="summary.branch">
      <p class="subhead">Branchnamen</p>
      <p>
        <BranchLink :branch="summary.branch"/>
      </p>
    </div>

    <div v-if="summary.lockText">
      <p class="subhead">Sperre</p>
      <p>{{summary.lockText}}</p>
    </div>

    <div v-if="summary.ticketNumber">
      <p class="subhead">Ticket</p>
      <p>
        <TicketLink :number="summary.ticketNumber"/>
      </p>
    </div>

    <p v-if="summary.state" class="subhead">Status</p>
    <p v-if="summary.state">{{summary.state}}</p>

  </div>

</template>

<script>

  import TeammemberMeme from '../../../molecules/TeammemberMeme'
  import TicketLink from '../../../atoms/TicketLink'
  import BoardEvent from "../../../../model/events/BoardEvent";
  import BranchLink from "../../../atoms/BranchLink";

  export default {
    components: {
      BranchLink,
      TeammemberMeme, TicketLink
    },
    props: {
      summary: {
        required: true
      },
      event: {
        required: true,
        type: BoardEvent
      }
    }
  }

</script>

<style scoped>

  .event-infobox {
    overflow: hidden;
  }

  .assignee {
    margin-right: .5em;
    margin-bottom: .5em;
    display: inline-block;
  }

  .subhead {
    font-weight: bold;
    margin: .2em 0 0 0;
  }

  .date-time {
    white-space: nowrap;
  }

</style>
