<!--suppress CheckEmptyScriptTag -->
<template>
  <div class="main">
    <div role="group">
      <button title="Zum ersten Ereignis" :disabled="firstButtonDisabled" type="button" class="btn btn-primary" @click="emitToFirstButtonClick">
        <IconFirstPosition/>
      </button>
      <button title="Ein Ereignis zurück [Pfeiltaste links]" :disabled="prevButtonDisabled" type="button" class="btn btn-primary" @click="emitPrevButtonClick">
        <IconStepBack/>
      </button>
      <DateTimeButton v-if="!settings.seperateClicksActive" @change-date="date => $emit('change-date', date)"/>
      <button title="Ein Ereignis vor [Pfeiltaste rechts]" :disabled="nextButtonDisabled" type="button" class="btn btn-primary" @click="emitNextButtonClick">
        <IconStepForward/>
      </button>
      <button title="Zum letzten Ereignis" :disabled="lastButtonDisabled" type="button" class="btn btn-primary" @click="emitToLastButtonClick">
        <IconLastPosition/>
      </button>
    </div>
  </div>
</template>

<script>

  import DateTimeButton from '../atoms/DateTimeButton'
  import IconFirstPosition from "../../../atoms/IconFirstPosition";
  import IconStepBack from "../../../atoms/IconStepBack";
  import IconStepForward from "../../../atoms/IconStepForward";
  import IconLastPosition from "../../../atoms/IconLastPosition";

  export default {
    components: {IconLastPosition, IconStepForward, IconStepBack, IconFirstPosition, DateTimeButton},
    props: {
      nextButtonDisabled: {
        required: true,
        type: Boolean
      },
      prevButtonDisabled: {
        required: true,
        type: Boolean
      },
      firstButtonDisabled: {
        required: true,
        type: Boolean
      },
      lastButtonDisabled: {
        required: true,
        type: Boolean
      },
      settings: {
        required: true
      }
    },
    data() {
      return {}
    },
    created() {
    },
    methods: {
      emitPrevButtonClick() {
        this.$emit('prev-button-click');
      },
      emitToLastButtonClick() {
        this.$emit('last-button-click');
      },
      emitToFirstButtonClick() {
        this.$emit('first-button-click');
      },
      emitNextButtonClick() {
        this.$emit('next-button-click');
      }
    }
  }
</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  .historie button {
    width: 50%;
    padding: 5px;
  }

  .btn, button {
    white-space: nowrap;
    border-radius: 0;
  }

  div.main > div {
    display: block;
    text-align: center;
  }

  div.main {
    background: white;
    padding: 0;
    border-color: $color-text-main;
    border-style: solid;
    border-width: 1px 0 0 1px;
  }

  *:disabled {
    cursor: not-allowed;
  }

  svg {
    fill: white;
    width: 20px;
    height: 20px;
  }

</style>
