<template>

  <table>

    <thead>
    <tr>
      <th class="story-col">Story</th>
      <th :key="stateOfTask.key" v-for="stateOfTask in board.statesOfTask">{{stateOfTask.name}}</th>
    </tr>
    </thead>

    <tbody>
    <tr :key="story.instanceId" v-for="story in stories">
      <td class="story-col">
        <StoryCard @mouseenter="$emit('mouseenter-story', story)" @mouseleave="$emit('mouseleave-story', story)" class="card" :story="story"/>
      </td>
      <td :key="stateOfTask.name" v-for="stateOfTask in board.statesOfTask">
        <TaskCard @mouseenter="$emit('mouseenter-task', task)"
                  @mouseleave="$emit('mouseleave-task', task)"
                  :fix-size="settings.showCardInSameSizes"
                  class="card"
                  v-for="task in calcShownTasks(story, stateOfTask)"
                  :mark-as-orphan="isInvalidOrphan(task)"
                  :key="task.instanceId"
                  :task="task"/>
      </td>
    </tr>
    </tbody>

  </table>

</template>

<script>

  import StoryCard from '../../../molecules/StoryCard';
  import TaskCard from '../../../molecules/TaskCard';
  import Board from '../../../../model/board/Board';

  export default {
    components: {
      StoryCard, TaskCard
    },
    props: {
      board: {
        required: true,
        type: Board
      },
      settings: {
        required: true,
      },
      stories: {
        required: true
      },
      search: {
        required: true,
        type: String
      }
    },
    methods: {
      isInvalidOrphan(task) {
        if (this.settings.markOrphanTasks) {
          return !task.assignees.length && !task.hasState(this.board.firstStateOfTask) && !task.hasState(this.board.lastStateOfTask);
        } else {
          return false;
        }
      },
      calcShownTasks(story, stateOfTask) {
        return story.getTasksWithState(stateOfTask)
          .filter(task => task.active || task.matchesSearch(this.search));
      }
    }
  }

</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  table {
    width: 100%;
  }

  table td {
    width: 14.16%;
  }

  table .story-col {
    width: 15%;
  }

  .card {
    transition: all .7s;
  }

  .card:not(.active) {
    opacity: .7;
  }

  .card:not(.active):hover {
    opacity: 1;
  }

  .card.active {
    box-shadow: 0 0 25px $color-text-main;
    border-top: 5px double $color-text-main;
    border-right: 5px double $color-text-main;
    border-bottom: 5px double $color-text-main;
    border-left: 5px double $color-text-main;
  }

  .card, .card * {
    cursor: default;
  }

</style>
