<template>
  <div>
    <CompletedBar :values="values"/>
  </div>
</template>

<script>

  import CompletedBar from './../atoms/CompletedBar'

  export default {
    components: {
      CompletedBar
    },
    props: {
      tasks: {
        required: true,
        type: Array
      },
      states: {
        required: true,
        type: Array
      }
    },
    created() {

    },
    computed: {
      values() {
        let i = 0;
        const values = [];
        while (i < this.states.length) {
          const state = this.states[i];
          const value = this.tasks.filter(t => t.hasState(state)).map(t => t.effort).reduce((e1, e2) => e1 + e2, 0);
          values.push(value);
          i++;
        }
        return values;
      }
    }
  }
</script>

<style scoped>

</style>
