<template>

  <span>{{task.pretty.effort}}</span>

</template>

<script>

  import Task from "../../model/board/Task";

  export default {
    props: {
      task: {
        required: true,
        type: Task
      }
    }
  }
</script>
