<template>

  <svg version="1.2"
       viewBox="0 0 4933 2654"
       xmlns="http://www.w3.org/2000/svg"
       :class="{'point-right': number > 0,'point-left': number < 0}">

    <g v-if="number === 0">
      <g class="Graphic">
        <g class="com.sun.star.drawing.CustomShape">
          <g>
            <path :fill="color" stroke="none"
                  d="M 2529,1327 C 2529,1559 2471,1788 2360,1990 2249,2191 2089,2359 1897,2475 1705,2592 1486,2653 1265,2653 1043,2653 824,2592 632,2475 440,2359 280,2191 169,1990 58,1788 0,1559 0,1327 0,1094 58,865 169,663 280,462 440,294 632,178 824,61 1043,0 1264,0 1486,0 1705,61 1897,178 2089,294 2249,462 2360,663 2471,865 2529,1094 2529,1326 L 2529,1327 Z"/>
          </g>
        </g>
        <g class="com.sun.star.drawing.CustomShape">
          <g>
            <path fill="rgb(255,255,255)" stroke="none"
                  d="M 2417,1327 C 2417,1546 2364,1762 2263,1953 2161,2143 2016,2301 1841,2411 1666,2521 1467,2579 1265,2579 1062,2579 863,2521 688,2411 513,2301 368,2143 266,1953 165,1762 112,1546 112,1327 112,1107 165,891 266,700 368,510 513,352 688,242 863,132 1062,74 1264,74 1467,74 1666,132 1841,242 2016,352 2161,510 2263,700 2364,891 2417,1107 2417,1326 L 2417,1327 Z"/>
          </g>
        </g>
      </g>
      <text id="eins" x="610" y="2050" :fill="color">{{number}}</text>
    </g>

    <g v-if="number > 0">
      <g class="Graphic">
        <g>
          <path :fill="color"
                stroke="none"
                d="M 3489,13 L 4918,1313 3489,2637 3489,1800 2881,1800 2881,825 3489,825 3489,13 3489,13 Z M 2418,825 L 2418,1800 2533,1800 2533,825 2418,825 2418,825 Z M 2649,825 L 2649,1800 2765,1800 2765,825 2649,825 2649,825 2649,825 Z"/>
        </g>
      </g>
      <g class="com.sun.star.drawing.CustomShape">
        <g>
          <path :fill="color"
                stroke="none"
                d="M 2529,1327 C 2529,1559 2471,1788 2360,1990 2249,2191 2089,2359 1897,2475 1705,2592 1486,2653 1265,2653 1043,2653 824,2592 632,2475 440,2359 280,2191 169,1990 58,1788 0,1559 0,1327 0,1094 58,865 169,663 280,462 440,294 632,178 824,61 1043,0 1264,0 1486,0 1705,61 1897,178 2089,294 2249,462 2360,663 2471,865 2529,1094 2529,1326 L 2529,1327 Z"/>
        </g>
      </g>
      <g class="com.sun.star.drawing.CustomShape">
        <g>
          <path fill="rgb(255,255,255)"
                stroke="none"
                d="M 2417,1327 C 2417,1546 2364,1762 2263,1953 2161,2143 2016,2301 1841,2411 1666,2521 1467,2579 1265,2579 1062,2579 863,2521 688,2411 513,2301 368,2143 266,1953 165,1762 112,1546 112,1327 112,1107 165,891 266,700 368,510 513,352 688,242 863,132 1062,74 1264,74 1467,74 1666,132 1841,242 2016,352 2161,510 2263,700 2364,891 2417,1107 2417,1326 L 2417,1327 Z"/>
        </g>
      </g>
      <text id="eins" :x="number === 1 ? 800 : 670" y="2000" :fill="color">{{number}}</text>
    </g>

    <g v-if="number < 0">
      <g class="Graphic">
        <g>
          <path :fill="color"
                stroke="none"
                d="M 1448,2637 L 19,1337 1448,13 1448,850 2056,850 2056,1825 1448,1825 1448,2637 1448,2637 Z M 2519,1825 L 2519,850 2404,850 2404,1825 2519,1825 2519,1825 Z M 2288,1825 L 2288,850 2172,850 2172,1825 2288,1825 2288,1825 2288,1825 Z"/>
        </g>
      </g>
      <g class="com.sun.star.drawing.CustomShape">
        <g>
          <path :fill="color"
                stroke="none"
                d="M 4959,1327 C 4959,1559 4901,1788 4790,1990 4679,2191 4519,2359 4327,2475 4135,2592 3916,2653 3695,2653 3473,2653 3254,2592 3062,2475 2870,2359 2710,2191 2599,1990 2488,1788 2430,1559 2430,1327 2430,1094 2488,865 2599,663 2710,462 2870,294 3062,178 3254,61 3473,0 3694,0 3916,0 4135,61 4327,178 4519,294 4679,462 4790,663 4901,865 4959,1094 4959,1326 L 4959,1327 Z"/>
        </g>
      </g>
      <g class="com.sun.star.drawing.CustomShape">
        <g>
          <path fill="rgb(255,255,255)"
                stroke="none"
                d="M 4847,1327 C 4847,1546 4794,1762 4693,1953 4591,2143 4446,2301 4271,2411 4096,2521 3897,2579 3694,2579 3492,2579 3293,2521 3118,2411 2943,2301 2798,2143 2696,1953 2595,1762 2542,1546 2542,1327 2542,1107 2595,891 2696,700 2798,510 2943,352 3118,242 3293,132 3492,74 3694,74 3897,74 4096,132 4271,242 4446,352 4591,510 4693,700 4794,891 4847,1107 4847,1326 L 4847,1327 Z"/>
        </g>
      </g>
      <text id="eins" :x="number === -1 ? 3270 : 3150" y="2000" :fill="color">{{number * -1}}</text>
    </g>
  </svg>
</template>

<script>

  export default {
    props: {
      number: {
        required: true,
        type: Number
      },
      colorOnZero: {
        required: false,
        type: String,
        default: 'rgb(0,0,0)'
      },
      colorNegativeNumber: {
        required: false,
        type: String,
        default: 'rgb(0,0,0)'
      },
      colorPositiveNumber: {
        required: false,
        type: String,
        default: 'rgb(0,0,0)'
      }
    },
    computed: {
      color() {
        if (this.number === 0) return this.colorOnZero;
        else if (this.number > 0) return this.colorPositiveNumber;
        else return this.colorNegativeNumber;
      }
    }
  }
</script>

<style>
  text {
    font-family: 'Baloo Chettan 2', sans-serif;
    font-size: 2300px;
    font-weight: bold;
  }
</style>