<template>

  <div>
    <span>🔒</span>&nbsp;{{text}}
  </div>

</template>

<script>

  export default {
    props: {
      text: {
        required: true,
        type: String
      }
    }
  }
</script>

<style scoped lang="scss">

  @import "@/scss/_variables.scss";

  div {
    color: white;
    text-shadow: -1px 0 $color-text-main, 0 1px $color-text-main, 1px 0 $color-text-main, 0 -1px $color-text-main;
  }

  div span {
    text-shadow: none;
  }

</style>
