<!--suppress ALL -->
<template>
  <div style="display:inline-block" @click="emitClick">
    <input type="hidden" :value="value">
    <svg :style="style" v-if="!value" version="1.2" width="272.12mm" height="132.12mm" viewBox="194 194 27212 13212" preserveAspectRatio="xMidYMid" fill-rule="evenodd" stroke-width="28.222"
         stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         xml:space="preserve">
    <defs class="ClipPathGroup">
      <clipPath id="presentation_clip_path" clipPathUnits="userSpaceOnUse">
         <rect x="194" y="194" width="27212" height="13212"/>
        </clipPath>
      <clipPath id="presentation_clip_path_shrink" clipPathUnits="userSpaceOnUse">
         <rect x="221" y="207" width="27158" height="13186"/>
        </clipPath>
     </defs>
     <defs class="TextShapeIndex">
        <g ooo:slide="id1" ooo:id-list="id3 id4 id5"/>
       </defs>
     <defs class="EmbeddedBulletChars">
      <g id="bullet-char-template-57356" transform="scale(0.00048828125,-0.00048828125)">
         <path d="M 580,1141 L 1163,571 580,0 -4,571 580,1141 Z"/>
        </g>
      <g id="bullet-char-template-57354" transform="scale(0.00048828125,-0.00048828125)">
         <path d="M 8,1128 L 1137,1128 1137,0 8,0 8,1128 Z"/>
        </g>
      <g id="bullet-char-template-10146" transform="scale(0.00048828125,-0.00048828125)">
         <path d="M 174,0 L 602,739 174,1481 1456,739 174,0 Z M 1358,739 L 309,1346 659,739 1358,739 Z"/>
        </g>
      <g id="bullet-char-template-10132" transform="scale(0.00048828125,-0.00048828125)">
         <path d="M 2015,739 L 1276,0 717,0 1260,543 174,543 174,936 1260,936 717,1481 1274,1481 2015,739 Z"/>
        </g>
      <g id="bullet-char-template-10007" transform="scale(0.00048828125,-0.00048828125)">
         <path d="M 0,-2 C -7,14 -16,27 -25,37 L 356,567 C 262,823 215,952 215,954 215,979 228,992 255,992 264,992 276,990 289,987 310,991 331,999 354,1012 L 381,999 492,748 772,1049 836,1024 860,1049 C 881,1039 901,1025 922,1006 886,937 835,863 770,784 769,783 710,716 594,584 L 774,223 C 774,196 753,168 711,139 L 727,119 C 717,90 699,76 672,76 641,76 570,178 457,381 L 164,-76 C 142,-110 111,-127 72,-127 30,-127 9,-110 8,-76 1,-67 -2,-52 -2,-32 -2,-23 -1,-13 0,-2 Z"/>
        </g>
      <g id="bullet-char-template-10004" transform="scale(0.00048828125,-0.00048828125)">
         <path d="M 285,-33 C 182,-33 111,30 74,156 52,228 41,333 41,471 41,549 55,616 82,672 116,743 169,778 240,778 293,778 328,747 346,684 L 369,508 C 377,444 397,411 428,410 L 1163,1116 C 1174,1127 1196,1133 1229,1133 1271,1133 1292,1118 1292,1087 L 1292,965 C 1292,929 1282,901 1262,881 L 442,47 C 390,-6 338,-33 285,-33 Z"/>
        </g>
      <g id="bullet-char-template-9679" transform="scale(0.00048828125,-0.00048828125)">
         <path d="M 813,0 C 632,0 489,54 383,161 276,268 223,411 223,592 223,773 276,916 383,1023 489,1130 632,1184 813,1184 992,1184 1136,1130 1245,1023 1353,916 1407,772 1407,592 1407,412 1353,268 1245,161 1136,54 992,0 813,0 Z"/>
        </g>
      <g id="bullet-char-template-8226" transform="scale(0.00048828125,-0.00048828125)">
         <path d="M 346,457 C 273,457 209,483 155,535 101,586 74,649 74,723 74,796 101,859 155,911 209,963 273,989 346,989 419,989 480,963 531,910 582,859 608,796 608,723 608,648 583,586 532,535 482,483 420,457 346,457 Z"/>
        </g>
      <g id="bullet-char-template-8211" transform="scale(0.00048828125,-0.00048828125)">
         <path d="M -4,459 L 1135,459 1135,606 -4,606 -4,459 Z"/>
        </g>
      <g id="bullet-char-template-61548" transform="scale(0.00048828125,-0.00048828125)">
         <path d="M 173,740 C 173,903 231,1043 346,1159 462,1274 601,1332 765,1332 928,1332 1067,1274 1183,1159 1299,1043 1357,903 1357,740 1357,577 1299,437 1183,322 1067,206 928,148 765,148 601,148 462,206 346,322 231,437 173,577 173,740 Z"/>
        </g>
     </defs>
      <defs class="TextEmbeddedBitmaps"/>
   <g class="SlideGroup">
      <g>
         <g id="container-id1">
            <g id="id1" class="Slide" clip-path="url(#presentation_clip_path)">
               <g class="Page">
                  <g class="com.sun.star.drawing.CustomShape">
                     <g id="id3">
                        <rect class="BoundingBox" stroke="none" fill="none" x="6694" y="194" width="14213" height="13213"/>
                        <path fill="rgb(178,178,178)" stroke="none" d="M 13800,13300 L 6800,13300 6800,300 20800,300 20800,13300 13800,13300 Z"/>
                        <path fill="none" stroke="rgb(178,178,178)" stroke-width="212" stroke-linejoin="round" d="M 13800,13300 L 6800,13300 6800,300 20800,300 20800,13300 13800,13300 Z"/>
                       </g>
                    </g>
                  <g class="com.sun.star.drawing.CustomShape">
                     <g id="id4">
                        <rect class="BoundingBox" stroke="none" fill="none" x="194" y="194" width="13214" height="13214"/>
                        <path fill="rgb(221,221,221)" stroke="none" d="M 6800,300 C 10485,300 13300,3115 13300,6800 13300,10485 10485,13300 6800,13300 3115,13300 300,10485 300,6800 300,3115 3115,300 6800,300 Z"/>
                        <path fill="none" stroke="rgb(128,128,128)" stroke-width="212" stroke-linejoin="round" d="M 6800,300 C 10485,300 13300,3115 13300,6800 13300,10485 10485,13300 6800,13300 3115,13300 300,10485 300,6800 300,3115 3115,300 6800,300 Z"/>
                       </g>
                    </g>
                  <g class="com.sun.star.drawing.CustomShape">
                     <g id="id5">
                        <rect class="BoundingBox" stroke="none" fill="none" x="14194" y="194" width="13213" height="13214"/>
                        <path fill="rgb(178,178,178)" stroke="none" d="M 20800,300 C 24485,300 27300,3115 27300,6800 27300,10485 24485,13300 20800,13300 17115,13300 14300,10485 14300,6800 14300,3115 17115,300 20800,300 Z"/>
                        <path fill="none" stroke="rgb(178,178,178)" stroke-width="212" stroke-linejoin="round" d="M 20800,300 C 24485,300 27300,3115 27300,6800 27300,10485 24485,13300 20800,13300 17115,13300 14300,10485 14300,6800 14300,3115 17115,300 20800,300 Z"/>
                       </g>
                    </g>
                 </g>
              </g>
           </g>
        </g>
     </g>
  </svg>
  <svg :style="style" v-if="value" version="1.2" width="275mm" height="135mm" viewBox="0 0 27500 13500"
       preserveAspectRatio="xMidYMid"
       fill-rule="evenodd" stroke-width="28.222"
       stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink"
       xml:space="preserve">
   <defs class="ClipPathGroup">
    <clipPath id="presentation_clip_path" clipPathUnits="userSpaceOnUse">
     <rect x="0" y="0" width="27500" height="13500"/>
    </clipPath>
    <clipPath id="presentation_clip_path_shrink" clipPathUnits="userSpaceOnUse">
     <rect x="27" y="13" width="27445" height="13473"/>
   </clipPath>
   </defs>
 <defs class="TextShapeIndex">
    <g ooo:slide="id1" ooo:id-list="id3 id4 id5"/>
   </defs>
 <defs class="EmbeddedBulletChars">
    <g id="bullet-char-template-57356" transform="scale(0.00048828125,-0.00048828125)">
    <path d="M 580,1141 L 1163,571 580,0 -4,571 580,1141 Z"/>
      </g>
    <g id="bullet-char-template-57354" transform="scale(0.00048828125,-0.00048828125)">
       <path d="M 8,1128 L 1137,1128 1137,0 8,0 8,1128 Z"/>
      </g>
    <g id="bullet-char-template-10146" transform="scale(0.00048828125,-0.00048828125)">
       <path d="M 174,0 L 602,739 174,1481 1456,739 174,0 Z M 1358,739 L 309,1346 659,739 1358,739 Z"/>
      </g>
    <g id="bullet-char-template-10132" transform="scale(0.00048828125,-0.00048828125)">
       <path d="M 2015,739 L 1276,0 717,0 1260,543 174,543 174,936 1260,936 717,1481 1274,1481 2015,739 Z"/>
      </g>
    <g id="bullet-char-template-10007" transform="scale(0.00048828125,-0.00048828125)">
       <path d="M 0,-2 C -7,14 -16,27 -25,37 L 356,567 C 262,823 215,952 215,954 215,979 228,992 255,992 264,992 276,990 289,987 310,991 331,999 354,1012 L 381,999 492,748 772,1049 836,1024 860,1049 C 881,1039 901,1025 922,1006 886,937 835,863 770,784 769,783 710,716 594,584 L 774,223 C 774,196 753,168 711,139 L 727,119 C 717,90 699,76 672,76 641,76 570,178 457,381 L 164,-76 C 142,-110 111,-127 72,-127 30,-127 9,-110 8,-76 1,-67 -2,-52 -2,-32 -2,-23 -1,-13 0,-2 Z"/>
      </g>
    <g id="bullet-char-template-10004" transform="scale(0.00048828125,-0.00048828125)">
       <path d="M 285,-33 C 182,-33 111,30 74,156 52,228 41,333 41,471 41,549 55,616 82,672 116,743 169,778 240,778 293,778 328,747 346,684 L 369,508 C 377,444 397,411 428,410 L 1163,1116 C 1174,1127 1196,1133 1229,1133 1271,1133 1292,1118 1292,1087 L 1292,965 C 1292,929 1282,901 1262,881 L 442,47 C 390,-6 338,-33 285,-33 Z"/>
      </g>
    <g id="bullet-char-template-9679" transform="scale(0.00048828125,-0.00048828125)">
       <path d="M 813,0 C 632,0 489,54 383,161 276,268 223,411 223,592 223,773 276,916 383,1023 489,1130 632,1184 813,1184 992,1184 1136,1130 1245,1023 1353,916 1407,772 1407,592 1407,412 1353,268 1245,161 1136,54 992,0 813,0 Z"/>
      </g>
    <g id="bullet-char-template-8226" transform="scale(0.00048828125,-0.00048828125)">
       <path d="M 346,457 C 273,457 209,483 155,535 101,586 74,649 74,723 74,796 101,859 155,911 209,963 273,989 346,989 419,989 480,963 531,910 582,859 608,796 608,723 608,648 583,586 532,535 482,483 420,457 346,457 Z"/>
      </g>
    <g id="bullet-char-template-8211" transform="scale(0.00048828125,-0.00048828125)">
       <path d="M -4,459 L 1135,459 1135,606 -4,606 -4,459 Z"/>
      </g>
    <g id="bullet-char-template-61548" transform="scale(0.00048828125,-0.00048828125)">
       <path d="M 173,740 C 173,903 231,1043 346,1159 462,1274 601,1332 765,1332 928,1332 1067,1274 1183,1159 1299,1043 1357,903 1357,740 1357,577 1299,437 1183,322 1067,206 928,148 765,148 601,148 462,206 346,322 231,437 173,577 173,740 Z"/>
      </g>
   </defs>
 <defs class="TextEmbeddedBitmaps"/>
 <g>
    <g id="id2" class="Master_Slide">
       <g id="bg-id2" class="Background"/>
       <g id="bo-id2" class="BackgroundObjects"/>
      </g>
   </g>
 <g class="SlideGroup">
    <g>
       <g id="container-id1">
          <g id="id1" class="Slide" clip-path="url(#presentation_clip_path)">
             <g class="Page">
                <g class="com.sun.star.drawing.CustomShape">
                   <g id="id3">
                      <rect class="BoundingBox" stroke="none" fill="none" x="6694" y="194" width="14213" height="13213"/>
                      <path :fill="options.fillColor" stroke="none" d="M 13800,13300 L 6800,13300 6800,300 20800,300 20800,13300 13800,13300 Z"/>
                      <path fill="none" :stroke="options.fillColor" stroke-width="212" stroke-linejoin="round" d="M 13800,13300 L 6800,13300 6800,300 20800,300 20800,13300 13800,13300 Z"/>
                     </g>
                  </g>
                <g class="com.sun.star.drawing.CustomShape">
                   <g id="id4">
                      <rect class="BoundingBox" stroke="none" fill="none" x="194" y="194" width="13214" height="13214"/>
                      <path :fill="options.fillColor" stroke="none" d="M 6800,300 C 10485,300 13300,3115 13300,6800 13300,10485 10485,13300 6800,13300 3115,13300 300,10485 300,6800 300,3115 3115,300 6800,300 Z"/>
                      <path fill="none" :stroke="options.fillColor" stroke-width="212" stroke-linejoin="round" d="M 6800,300 C 10485,300 13300,3115 13300,6800 13300,10485 10485,13300 6800,13300 3115,13300 300,10485 300,6800 300,3115 3115,300 6800,300 Z"/>
                     </g>
                  </g>
                <g class="com.sun.star.drawing.CustomShape">
                   <g id="id5">
                      <rect class="BoundingBox" stroke="none" fill="none" x="14194" y="194" width="13213" height="13214"/>
                      <path fill="rgb(255,255,255)" stroke="none" d="M 20800,300 C 24485,300 27300,3115 27300,6800 27300,10485 24485,13300 20800,13300 17115,13300 14300,10485 14300,6800 14300,3115 17115,300 20800,300 Z"/>
                      <path fill="none" stroke="rgb(0,0,0)" stroke-width="212" stroke-linejoin="round" d="M 20800,300 C 24485,300 27300,3115 27300,6800 27300,10485 24485,13300 20800,13300 17115,13300 14300,10485 14300,6800 14300,3115 17115,300 20800,300 Z"/>
                     </g>
                  </g>
               </g>
            </g>
         </g>
      </g>
   </g>
</svg>
    <svg v-if="lock" class="lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
      <path d="M400 224h-24v-72C376 68.2 307.8 0 224 0S72 68.2 72 152v72H48c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V272c0-26.5-21.5-48-48-48zm-104 0H152v-72c0-39.7 32.3-72 72-72s72 32.3 72 72v72z"/>
    </svg>
  </div>
</template>

<script>
  export default {
    props: {
      width: {
        type: Number,
        required: false
      },
      color: {
        type: String,
        required: false
      },
      value: {
        type: Boolean,
        required: true
      },
      lock: {
        type: Boolean,
        required: false,
        value: false
      }
    },
    computed: {
      style: function () {
        // 1920x943
        const width = this.width || 50;
        const height = Math.floor(width * 943 / 1920);
        return {
          width: width + 'px',
          height: height + 'px',
          cursor: this.lock ? 'default' : 'pointer',
        };
      },
      options: function () {
        return {fillColor: this.color || '#007bff'};
      }
    },
    data: function () {
      return {
        on: this.value,
        blockWatch: false
      }
    },
    methods: {
      changeInternOn: function () {
        this.on = !this.on;
        this.$emit('changed', this.on);
        if (this.on) this.$emit('on');
        else this.$emit('off');
      },
      emitClick: function () {
        if (!this.lock) {
          this.blockWatch = true;
          this.changeInternOn();
          this.$emit('input', this.on);
        }
      }
    },
    watch: {
      value: function () {
        if (this.blockWatch) {
          this.blockWatch = false;
        } else {
          this.changeInternOn();
        }
      }
    }
  }
</script>

<style scoped>
  svg.lock {
    fill: #6b6b6b;
    width: 10px;
    margin-left: -43px;
  }
</style>