<template>

  <a class="ticket-number" :href="ticketUri" @click="event => event.stopPropagation()">{{ticketNumberValue}}</a>

</template>

<script>

  import CONFIG from "../../config"

  export default {
    props: {
      number: {
        required: true,
        type: String
      }
    },
    computed: {
      ticketUri() {
        return CONFIG.TICKETSYSTEM.URI_PATTERN.replace('%d', this.number);
      },
      ticketNumberValue() {
        // https://en.wikipedia.org/wiki/Hyphen#In_computing
        const prefixWithNonBreakHyphen = CONFIG.TICKETSYSTEM.PREFIX.replace('-', '‑');
        return `${prefixWithNonBreakHyphen}${this.number}`;
      }
    }
  }
</script>

<style scoped>

</style>
