<template>

  <EditRequiredShortText label="Neue Story!"
                         :text="newStoryLabel"
                         required-pattern=".{4}.+"
                         invalid-feedback="Mindestens 5 Zeichen benötigt"
                         button-label="Story erstellen"
                         @change="emitNewStory"
                         :autoclear="autoclear"/>

</template>

<script>

  import EditRequiredShortText from '../../../molecules/EditRequiredShortText';
  import moment from 'moment';
  import StoryCreatedBuilder from "../../../../model/events/builder/StoryCreatedBuilder";

  export default {
    components: {
      EditRequiredShortText
    },
    data() {
      return {
        newStoryLabel: ''
      }
    },
    props: {
      autoclear: {
        required: false,
        value: false,
        type: Boolean
      }
    },
    methods: {
      emitNewStory(taskLabel) {
        const newEvent = new StoryCreatedBuilder()
          .date(moment())
          .label(taskLabel)
          .build();
        this.$emit('new-event', newEvent);
      }
    }
  }

</script>

<style scoped>

</style>