<template>

  <div>
    <h2>Story: {{story.label}}</h2>
    <EditRequiredShortText label="Neuer Task!"
                           :text="newTaskLabel"
                           v-focus
                           required-pattern=".{9}.+"
                           invalid-feedback="Mindestens 10 Zeichen benötigt"
                           button-label="erstellen"
                           @change="emitNewTask"/>
    <EditRequiredShortText label="Titel der Story"
                           :text="story.label"
                           required-pattern="...+"
                           invalid-feedback="Mindestens 3 Zeichen benötigt"
                           button-label="ändern"
                           @change="newValue => emitAttributeChange('label', newValue)"/>
    <EditRequiredShortText label="Punkte"
                           :text="story.points || ''"
                           required-pattern="^[0-9]{1,3}$"
                           invalid-feedback="Zahl zwischen 0 und 999"
                           button-label="ändern"
                           @change="newValue => emitAttributeChange('points', newValue)"/>
    <EditOptionalLongText label="Beschreibung"
                          :text="story.description"
                          button-label="ändern"
                          @change="newValue => emitAttributeChange('description', newValue)"/>
    <EditRequiredShortText label="Branchname"
                           :text="story.branch || ''"
                           required-pattern="^\S{3,70}$"
                           invalid-feedback="Länge zwischen 3 und 70, kein Whitespace"
                           button-label="ändern"
                           @change="newValue => emitAttributeChange('branch', newValue)"/>
    <EditRequiredShortText label="Anzeige-Prio (je höher, desto oben)"
                           :text="story.order + '' || '0'"
                           required-pattern="^([0-9]|[1-9][0-9])$"
                           invalid-feedback="Zahl zwischen 0 und 99"
                           button-label="ändern"
                           @change="newValue => emitAttributeChange('order', parseInt(newValue))"/>
    <EditColor label="Textfarbe"
               :color="story.textColor"
               @change="newValue => emitAttributeChange('textColor', newValue)"
               class="text-color"/>
    <EditColor label="Hintergrundfarbe"
               :color="story.backgroundColor"
               @change="newValue => emitAttributeChange('backgroundColor', newValue)"
               class="background-color"/>
    <Button v-if="story.deleted" class="btn btn-primary" @click="emitAttributeChange('deleted', false)">Story wiederherstellen</Button>
    <LockableButton v-else label="Story löschen" @click="emitAttributeChange('deleted', true)"/>
  </div>

</template>

<script>

  import Story from '../../../../model/board/Story';
  import EditRequiredShortText from '../../../molecules/EditRequiredShortText';
  import EditColor from '../../../molecules/EditColor';
  import LockableButton from '../../../molecules/LockableButton';
  import EditOptionalLongText from '../../../molecules/EditOptionalLongText';
  import StoryChangedBuilder from "../../../../model/events/builder/StoryChangedBuilder";
  import moment from 'moment';
  import Attribute from '../../../../model/board/Attribute'
  import TaskCreatedBuilder from '../../../../model/events/builder/TaskCreatedBuilder'

  export default {
    components: {
      EditRequiredShortText, EditOptionalLongText, EditColor, LockableButton
    },
    props: {
      story: {
        required: true,
        type: Story
      },
    },
    data() {
      return {
        newTaskLabel: ''
      }
    },
    methods: {
      emitNewTask(taskLabel) {
        const newEvent = new TaskCreatedBuilder()
          .instanceIdStory(this.story.instanceId)
          .date(moment())
          .label(taskLabel)
          .build();
        this.$emit('new-event', newEvent);
      },
      emitAttributeChange(key, newValue) {
        const newEvent = new StoryChangedBuilder()
          .instanceIdStory(this.story.instanceId)
          .date(moment())
          .attribute(new Attribute(key, newValue))
          .build();

        this.$emit('new-event', newEvent);
      }
    }
  }

</script>

<style scoped>

  .text-color {
    float: right;
    clear: both;
  }

  .text-color, .background-color {
    width: 45%;
  }
</style>