<template>

  <div>
    <h2>Task: {{task.label}}</h2>
    <EditSingleSelection label="Status"
                         :options="board.statesOfTask"
                         :current="currentStateOfTask"
                         :display-function="state => state.name"
                         @change="newValue => emitAttributeChange('state', newValue)"/>
    <EditMultiSelection label="Bearbeiter"
                        :options="board.teammembers"
                        :currents="task.assignees"
                        :display-function="teammember => teammember.name"
                        @toggle-on="emitTeammemberAssignedToTask"
                        @toggle-off="emitTeammemberRemovedFromTask"/>
    <EditSingleSelection label="Story"
                         :options="stories"
                         :current="task.story"
                         :display-function="story => story.getLabelCut(40)"
                         @change="newValue => emitTaskToStory(task,newValue)"/>
    <EditRequiredShortText label="Titel vom Task"
                           :text="task.label"
                           v-focus
                           required-pattern="...+"
                           invalid-feedback="Mindestens 3 Zeichen benötigt"
                           button-label="ändern"
                           @change="newValue => emitAttributeChange('label', newValue)"/>
    <EditOptionalShortText label="Nummer im Ticketsystem"
                           :text="task.ticketNumber || ''"
                           :prepend-text="prependTextTicketsystemNumber"
                           required-pattern="^[1-9][0-9]{0,4}$"
                           invalid-feedback="Zahl zwischen 1 und 99999"
                           button-label="ändern"
                           @change="newValue => emitAttributeChange('ticketNumber', newValue)"/>
    <EditOptionalShortText label="Task-Sperre"
                           :text="task.lockText"
                           :prepend-text="'🔒'"
                           required-pattern="...+"
                           invalid-feedback="Mindestens 3 Zeichen benötigt"
                           button-label="ändern"
                           @change="newValue => emitAttributeChange('lockText', newValue)"/>
    <EditOptionalLongText label="Beschreibung"
                          :text="task.description"
                          button-label="ändern"
                          @change="newValue => emitAttributeChange('description', newValue)"/>
    <EditRequiredShortText label="Branchname"
                           :text="task.branch || ''"
                           required-pattern="^\S{3,70}$"
                           invalid-feedback="Länge zwischen 3 und 70, kein Whitespace"
                           button-label="ändern"
                           @change="newValue => emitAttributeChange('branch', newValue)"/>
    <EditSingleSelection label="Aufwand"
                         button-label="ändern"
                         :options="[1,2,3,4,5]"
                         :current="task.effort"
                         :display-function="i => ['XS','S','M','L','XL'][i-1]"
                         @change="newValue => emitAttributeChange('effort', newValue)"/>
    <EditSingleSelection label="Priorität"
                         button-label="ändern"
                         :options="[1,2,3,4]"
                         symbol-text
                         :current="task.prio"
                         :display-function="i => ['⬇️', '➡️', '⬆️', '🆘'][i-1]"
                         @change="newValue => emitAttributeChange('prio', newValue)"/>
    <EditColor label="Textfarbe"
               :color="task.textColor"
               class="text-color"
               @change="newValue => emitAttributeChange('textColor', newValue)"/>
    <EditColor label="Hintergrundfarbe"
               :color="task.backgroundColor"
               class="background-color"
               @change="newValue => emitAttributeChange('backgroundColor', newValue)"/>
    <Button v-if="task.deleted" class="btn btn-primary" @click="emitAttributeChange('deleted', false)">Task wiederherstellen</Button>
    <LockableButton v-else label="Task löschen" @click="emitAttributeChange('deleted', true)"/>
  </div>

</template>

<script>

  import Task from '../../../../model/board/Task';
  import TaskChangedBuilder from "../../../../model/events/builder/TaskChangedBuilder";
  import Attribute from "../../../../model/board/Attribute";
  import LockableButton from '../../../molecules/LockableButton';
  import EditRequiredShortText from '../../../molecules/EditRequiredShortText';
  import EditOptionalShortText from '../../../molecules/EditOptionalShortText';
  import EditOptionalLongText from '../../../molecules/EditOptionalLongText';
  import EditColor from '../../../molecules/EditColor';
  import EditSingleSelection from '../../../molecules/EditSingleSelection';
  import EditMultiSelection from '../../../molecules/EditMultiSelection';
  import moment from 'moment';
  import Board from "../../../../model/board/Board";
  import CONFIG from "../../../../config"
  import TeammemberAssignedToTaskBuilder from "../../../../model/events/builder/TeammemberAssignedToTaskBuilder";
  import TeammemberRemovedFromTaskBuilder from "../../../../model/events/builder/TeammemberRemovedFromTaskBuilder";
  import TaskToStoryBuilder from "../../../../model/events/builder/TaskToStoryBuilder";

  export default {
    components: {
      EditRequiredShortText, EditOptionalShortText, EditOptionalLongText, EditSingleSelection, EditMultiSelection, EditColor, LockableButton
    },
    props: {
      board: {
        required: true,
        type: Board
      },
      task: {
        required: true,
        type: Task
      },
      stories: {
        required: true,
        type: Array
      },
    },
    computed: {
      currentStateOfTask() {
        return this.board.statesOfTask.filter(sot => sot.equals(this.task.state))[0];
      },
      prependTextTicketsystemNumber() {
        return CONFIG.TICKETSYSTEM.PREFIX;
      }
    },
    methods: {
      emitTeammemberAssignedToTask(teammember) {
        const newEvent = new TeammemberAssignedToTaskBuilder()
          .instanceIdStory(this.task.story.instanceId)
          .instanceIdTask(this.task.instanceId)
          .date(moment())
          .teammember(teammember)
          .build();
        this.$emit('new-event', newEvent);
      },
      emitTeammemberRemovedFromTask(teammember) {
        const newEvent = new TeammemberRemovedFromTaskBuilder()
          .instanceIdStory(this.task.story.instanceId)
          .instanceIdTask(this.task.instanceId)
          .date(moment())
          .teammember(teammember)
          .build();
        this.$emit('new-event', newEvent);
      },
      emitTaskToStory(task, story) {
        const newEvent = new TaskToStoryBuilder()
          .instanceIdTask(this.task.instanceId)
          .instanceIdStory(story.instanceId)
          .date(moment())
          .build();
        this.$emit('new-event', newEvent);
      },
      emitAttributeChange(key, newValue) {
        const newEvent = new TaskChangedBuilder()
          .instanceIdTask(this.task.instanceId)
          .instanceIdStory(this.task.story.instanceId)
          .date(moment())
          .attribute(new Attribute(key, newValue))
          .build();

        this.$emit('new-event', newEvent);
      }
    }
  }

</script>

<style scoped>

  .text-color {
    float: right;
    clear: both;
  }

  .text-color, .background-color {
    width: 45%;
  }
</style>
