<template>

  <div class="container-fluid">

    <div class="row">

      <div class="info-col working-on-card">
        <CloseButton dark class="closeButton" @click="closeWorkingArea" v-if="storyToWorkOn || taskToWorkOn"/>
        <ShareLink class="share" v-if="storyToWorkOn" :instance-id="storyToWorkOn.instanceId"/>
        <ShareLink class="share" v-if="taskToWorkOn" :instance-id="taskToWorkOn.instanceId"/>
        <div v-if="!shownStory && !shownTask && !storyToWorkOn && !taskToWorkOn">
          <p>Fahre mit der Maus über eine Karte, um hier Informationen über die Karte zu erhalten.</p>
          <p>Klicke auf sie, um sie zu bearbeiten.</p>
        </div>
        <TaskInfobox v-if="shownTask && !storyToWorkOn && !taskToWorkOn" :task="shownTask"/>
        <StoryInfobox v-if="shownStory && !storyToWorkOn && !taskToWorkOn" :story="shownStory"/>
        <WorkingOnStoryCardArea v-if="storyToWorkOn" :story="storyToWorkOn" @new-event="emitNewEvent"/>
        <WorkingOnTaskCardArea v-if="taskToWorkOn" :stories="stories" :board="board" :task="taskToWorkOn" @new-event="emitNewEvent"/>
      </div>

      <div>
        <table>

          <thead>
          <tr>
            <th class="story-col">Story</th>
            <th :key="stateOfTask.key" v-for="stateOfTask in board.statesOfTask">{{stateOfTask.name}}</th>
          </tr>
          </thead>

          <tbody :class="{selectionMade: selectionMade}">
          <tr :key="story.instanceId" v-for="story in stories">
            <td class="story-col">
              <StoryCard class="card"
                         @mouseenter="shownStory = story"
                         @mouseleave="shownStory = null"
                         :story="story"
                         @click="setStoryToWorkOn(story)"/>
            </td>
            <td :key="stateOfTask.name" v-for="stateOfTask in board.statesOfTask">
              <TaskCard :mark-as-orphan="isInvalidOrphan(task)"
                        @mouseenter="shownTask = task"
                        @mouseleave="shownTask = null"
                        :fix-size="settings.showCardInSameSizes"
                        class="card"
                        :key="task.instanceId"
                        v-for="task in calcShownTasks(story, stateOfTask)"
                        :task="task"
                        @click="setTaskToWorkOn(task)"/>
            </td>
          </tr>
          </tbody>

          <tfoot>
          <tr>
            <td>
              <CreateANewStory @new-event="emitNewEvent" autoclear/>
            </td>
            <td :key="stateOfTask.name" v-for="stateOfTask in board.statesOfTask">&nbsp;</td>
          </tr>
          </tfoot>

        </table>

      </div>
    </div>

  </div>

</template>

<script>

  import StoryCard from '../../../molecules/StoryCard';
  import TaskCard from '../../../molecules/TaskCard';
  import Board from '../../../../model/board/Board';
  import WorkingOnStoryCardArea from "./WorkingOnStoryCardArea";
  import WorkingOnTaskCardArea from "./WorkingOnTaskCardArea";
  import CloseButton from "../../../atoms/CloseButton";
  import CreateANewStory from './CreateANewStory'
  import TaskInfobox from "../../../organisms/TaskInfobox";
  import StoryInfobox from "../../../organisms/StoryInfobox";
  import ShareLink from "../atoms/ShareLink";

  export default {
    components: {
      ShareLink,
      StoryInfobox, CloseButton, TaskInfobox, WorkingOnStoryCardArea, WorkingOnTaskCardArea, StoryCard, TaskCard, CreateANewStory
    },
    created() {
      this.stories.forEach(s => s.active = false);
      this.stories.map(s => s.tasks).flat(1).forEach(t => t.active = false);
    },
    props: {
      board: {
        required: true,
        type: Board
      },
      search: {
        required: true,
        type: String
      },
      settings: {
        required: true,
      },
      stories: {
        required: true
      }
    },
    data() {
      return {
        storyToWorkOn: null,
        taskToWorkOn: null,
        shownStory: null,
        shownTask: null,
      }
    },
    computed: {
      selectionMade() {
        return this.storyToWorkOn || this.taskToWorkOn;
      }
    },
    watch: {
      stories: {
        handler: function (stories) {
          // Der Event-Player setzt das letzte Event aktiv.
          // Das wird hier genutzt, um das aktuelle als Arbeitsgegenstand zu setzen
          // XXX dadurch muss ein manuelle Aktualisierung erfolgen oder hier muss noch mehr passieren ...
          const tasks = stories.map(s => s.tasks).flat(1);
          if (stories.some(s => s.active)) {
            this.setStoryToWorkOn(stories.filter(s => s.active)[0]);
          } else if (tasks.some(t => t.active)) {
            this.setTaskToWorkOn(tasks.filter(t => t.active)[0]);
          }
        },
        deep: true
      }
    },
    methods: {
      isInvalidOrphan(task) {
        if (this.settings.markOrphanTasks) {
          return !task.assignees.length && !task.hasState(this.board.firstStateOfTask) && !task.hasState(this.board.lastStateOfTask);
        } else {
          return false;
        }
      },
      calcShownTasks(story, stateOfTask) {
        return story.getTasksWithState(stateOfTask)
          .filter(task => task.matchesSearch(this.search));
      },
      closeWorkingArea() {
        this.taskToWorkOn = null;
        this.storyToWorkOn = null;
      },
      setStoryToWorkOn(story) {
        this.stories.forEach(s => s.active = s === story);
        this.stories.map(s => s.tasks).flat(1).forEach(t => t.active = false);
        this.taskToWorkOn = null;
        this.storyToWorkOn = story;
      },
      setTaskToWorkOn(task) {
        this.stories.forEach(s => s.active = false);
        this.stories.map(s => s.tasks).flat(1).forEach(t => t.active = t === task);
        this.taskToWorkOn = task;
        this.storyToWorkOn = null;
      },
      emitNewEvent(newEvent) {
        this.$emit('new-event', newEvent);
      }
    }
  }

</script>

<style lang="scss">

  @import "@/scss/_variables.scss";

  .working-on-card .closeButton svg,
  .working-on-card .share svg {
    fill: $color-background-b !important;
    opacity: 1;
  }

  .working-on-card .closeButton:hover svg,
  .working-on-card .share:hover svg {
    fill: $color-background-a !important;
  }

  .working-on-card .closeButton, .working-on-card .share {
    position: absolute;
    top: .3em;
  }

  .working-on-card .closeButton {
    right: 0;
  }

  .working-on-card .share {
    right: 30px;
  }

  .share ~ * {
    margin-top: 20px;
  }

  table td {
    width: 14.16%;
  }

  table .story-col {
    width: 15%;
  }

  /*noinspection CssUnusedSymbol*/
  .selectionMade .card:not(.active) {
    opacity: .3;
  }

  .card {
    cursor: pointer;
  }

</style>
