$color-background-a: #232840;
$color-background-b: #b187d9;
$color-background-c: rgb(222, 235, 255);
$color-text-main: #470856;
$color-text-hover: rgb(255, 230, 230);
$color-background-card: lightyellow;

$font-headline: 'Bellota';